{% load i18n %}
<div id="organization-box" class="mt-5">
  {% if object.organization_active %}
    <h6 class="display-6 fs-6 mt-4 border-secondary border-2 border-bottom">
      <button class="btn btn-outline-secondary border-0"
        hx-post="{{ object.deactivate_organization_url }}" hx-target="#organization-box" hx-swap="innerHTML"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Deactivate organization' %}">
        <i class="bi bi-eye-slash"></i>
      </button>
      {% trans "Organization" %}
    </h6>

    {% for organization in object.organization_set.all %}
      <form hx-post="{{ organization.update_object_url }}" hx-trigger="change" hx-swap="none">
        <div id="organization-{{ organization.pk }}"  class="bg-light my-4">

          <!--buttons -->
          <div class="row">
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Move up' %}"
                hx-post="{{ organization.move_up_object_url }}" hx-target="#organization-box" hx-swap="outerHTML"
                {% if forloop.first %}disabled{% endif %}>
                <i class="bi bi-arrow-up"></i>
              </button>
            </div>
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Move down' %}"
                hx-post="{{ organization.move_down_object_url }}" hx-target="#organization-box" hx-swap="outerHTML"
                {% if forloop.last %}disabled{% endif %}>
                <i class="bi bi-arrow-down"></i>
              </button>
            </div>
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Copy' %}"
                hx-post="{{ organization.copy_object_url }}" hx-target="#organization-new" hx-swap="innerHTML">
                <i class="bi bi-files"></i>
              </button>
            </div>
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove' %}"
                hx-post="{{ organization.delete_object_url }}" hx-target="#organization-box" hx-swap="outerHTML">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>

          <!--role -->
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-person"></i></span>
                </div>
                <input class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'Role, e.g: Member of the Royal Society' %}"
                  name="role" maxlength="{{max_length_normal}}"
                  {% if organization.role %}value="{{ organization.role }}"{% endif %}>
              </div>
            </div>
          </div>

          <!--organization and organization_link -->
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-building"></i></span>
                </div>
                <input class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'Organization, e.g: The Royal Society of London' %}"
                  name="organization" maxlength="{{max_length_normal}}"
                  {% if organization.organization %}value="{{ organization.organization }}"{% endif %}>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-link"></i></span>
                </div>
                <input class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'Institution link, e.g: royalsociety.org (optional)' %}"
                  name="organization_link" maxlength="{{max_length_normal}}"
                  {% if organization.organization_link %}value="{{ organization.organization_link }}"{% endif %}>
              </div>
            </div>
          </div>

          <!--start date and end date -->
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-calendar4-event"></i></span>
                </div>
                <input class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'Start date, e.g. Mar 2019' %}"
                  name="start_date" maxlength="{{max_length_super_short}}"
                  {% if organization.start_date %}value="{{ organization.start_date }}"{% endif %}>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-calendar-check"></i></span>
                </div>
                <input class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'End date, e.g. Jan 2021, on going, ...' %}"
                  name="end_date" maxlength="{{max_length_super_short}}"
                  {% if organization.end_date %}value="{{ organization.end_date }}"{% endif %}>
              </div>
            </div>
          </div>

          <!--description -->
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-justify-left"></i></span>
                </div>
                <textarea class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'Description' %}"  name="description"
                  maxlength="{{max_length_super_large}}">{% if organization.description %}{{ organization.description }}{% endif %}</textarea>
              </div>
            </div>
          </div>

        </div>
      </form>
    {% endfor %}

    <div id="organization-new">
      {% include "profiles/partials/organization/new_button.html" %}
    </div>
  {% endif %}
</div>
