{% load i18n %}
<div id="language-box" class="mt-5">
  {% if object.language_active %}
    <h6  class="display-6 fs-6 mt-4 border-secondary border-2 border-bottom">
      <button class="btn btn-outline-secondary border-0"
        hx-post="{{ object.deactivate_language_url }}" hx-target="#language-box" hx-swap="innerHTML"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Deactivate languages' %}">
        <i class="bi bi-eye-slash"></i>
      </button>
      {% trans "Languages" %}
    </h6>

    {% for language in object.language_set.all %}
      <form hx-post="{{ language.update_object_url }}" hx-trigger="change" hx-swap="none">
        <div id="language-{{ language.pk }}" class="input-group mb-3"  >
          <div class="input-group-prepend">
            <span class="input-group-text border-0"><i class="bi bi-chat-quote"></i></span>
          </div>
          <input class="form-control border-0 bg-white"  type="text" name="name" value="{{language.name}}">
          <select class="form-control form-select border-0" name="level">
             {% for value, showing_name in profile_level_choices %}
              <option value="{{value}}" {% if language.level == value %} selected {% endif %}>{{showing_name}}</option>
             {% endfor %}
          </select>
          <button class="btn btn-outline-secondary  border-0"
           hx-post="{{ language.delete_object_url }}" hx-target="#language-box" hx-swap="outerHTML"
           data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove this language' %}"><i class="bi bi-trash"></i></button>
        </div>
      </form>
    {% endfor %}

    <div id="language-new">
      {% include "profiles/partials/language/new_form.html" %}
    </div>
  {% endif %}
</div>
