{% load i18n %}
<form style="border: dashed 1.5px black; border-radius: 5px;"
hx-post="{{ object.create_language_object_url}}" hx-trigger="submit" hx-swap="outerHTML" hx-target="#language-box">

  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text border-0"><i class="bi bi-chat-quote"></i></span>
    </div>
    <input class="form-control border-0 bg-white"  type="text"
      placeholder="{% trans 'Enter a language you speak' %}"
      name="name" maxlength="100">
  </div>

  <div class="input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text border-0 bg-white"><i class="bi bi-bar-chart"></i></span>
    </div>
    <input  class="form-control form-range border-0" type="range" name="level" max="5" >
    <div class="input-group-prepend">
      <span class="input-group-text border-0 bg-white"><i class="bi bi-bar-chart-fill"></i></span>
    </div>
  </div>


  <!--buttons -->
  <div class="row">
    <div class="col-2">
      <button class="btn btn-outline-secondary border-0 w-100" type="button"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove' %}"
        hx-post="{{ object.remove_language_new_form_url }}" hx-target="#language-new" hx-swap="innerHTML">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="col-10">
      <button class="btn btn-outline-secondary  border-0 w-100" type="submit"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Add this language' %}">
        <i class="bi bi-check-circle"> {% trans "Save" %}</i>
      </button>
    </div>
  </div>
</form>

<!--
<form hx-post="{{ object.create_language_object_url}}" hx-trigger="submit" hx-swap="outerHTML" hx-target="#language-box">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text border-0"><i class="bi bi-chat-quote"></i></span>
    </div>
    <input class="form-control border-0 bg-white"  type="text"
      placeholder="{% trans 'Add language ...' %}"
      name="name" maxlength="100">
    <select class="form-control form-select border-0" name="level">
       {% for value, showing_name in profile_level_choices %}
        <option value="{{value}}">{{showing_name}}</option>
       {% endfor %}
    </select>
    <button class="btn btn-outline-secondary border-0" type="submit" name="button"
      data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Add this language' %}">
      <i class="bi bi-plus-circle"></i>
    </button>
  </div>
</form>

-->
