{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
  {% translate "Social Network Login Failure" %}
{% endblock head_title %}
{% block content %}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h1 class="mt-10 mb-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
        {% translate "Social Network Login Failure" %}
      </h1>
      <p class="my-5 text-gray-800">
        {% translate "An error occurred while attempting to login via your social network account." %}
      </p>
    </div>
  </div>
{% endblock content %}
