{% extends "base.html" %}
{% load i18n wagtailsettings_tags svg %}
{% get_settings %}
{% block head_title %}
  {% translate "Login with {{ provider }}" %}
{% endblock head_title %}
{% block content %}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      {% if process == "connect" %}
        <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
          {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        </h1>
        <p class="mt-5 text-center text-sm text-gray-500">
          {% blocktrans with provider.name as provider %}
        You are about to connect a new third party account from {{ provider }}.
        {% endblocktrans %}
        </p>
      {% else %}
        <h1 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
          {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
        </h1>
        <p class="mt-5 text-center text-sm text-gray-500">
          {% blocktrans with provider.name as provider %}
        You are about to sign in using a third party account from {{ provider }}.
        {% endblocktrans %}
        </p>
      {% endif %}
      <form class="mt-10" method="post">
        {% csrf_token %}
        <button class="my-3 flex w-full items-center justify-center gap-3 rounded-md  px-3 py-1.5 text-white  socialaccount_provider {{ provider.id }}"
                type="submit">
          <i class="fa-brands fa-{{ provider.id }}"></i> {% translate "Continue" %}
        </button>
      </form>
    </div>
  </div>
{% endblock content %}
