{% load i18n %}
<hr>
<p>{% translate "Select your suitable payment method" %}</p>

<button type="submit" name="payment_method" value="card"
  class="btn btn-primary btn-lg btn-block">
  <i class="bi bi-credit-card"></i>
  {% translate "Credit card" %}
</button>

<button type="submit" name="payment_method" value="paypal"
  class="btn btn-primary btn-lg btn-block">
  <i class="bi bi-paypal"></i>
  Paypal
</button>

<button type="submit" name="payment_method" value="coinbase"
  class="btn btn-primary btn-lg btn-block">
  <i class="bi bi-currency-bitcoin"></i>
  {% translate "Criptos" %}
</button>
