{% extends "base.html" %}
{% load i18n %}
{% block head_title %}
    {% translate "Change Password" %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1>{% translate "Change Password" %}</h1>
        <form method="POST"
              action="{% url 'account_change_password' %}"
              class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action">{% translate "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
        </form>
    </div>
{% endblock %}
