{% extends "base.html" %}
{% load i18n account %}
{% block head_title %}
  {% translate "Password Reset" %}
{% endblock %}
{% block content %}
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h1 class="mt-10 mb-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
        {% translate "Password Reset" %}
      </h1>
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p class="mt-5 text-sm text-gray-500">
        {% blocktrans %} We have sent you an e-mail. Please contact us if you do not receive it within a few minutes. {% endblocktrans %}
      </p>
    </div>
  </div>
{% endblock %}
