{% extends "base.html" %}
{% load account i18n crispy_forms_tags %}
{% block head_title %}
    {% translate "Password Reset" %}
{% endblock %}
{% block content %}
    <div class="container py-5" style="height: 950px">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>{% translate "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>
                    {% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                </p>
                <form method="POST"
                      action="{% url 'account_reset_password' %}"
                      class="password_reset">
                    {% csrf_token %} {{ form|crispy }}
                    <input class="btn btn-outline-primary w-100 my-2"
                           type="submit"
                           value="{% translate 'Reset My Password' %}" />
                </form>
                <p>
                    {% blocktrans %}
          Please contact us if you have any trouble resetting your password.
          {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
