{% if form.instance.active  %}
  <form
    hx-post="{{ form.instance.update_form_url }}"
    hx-trigger="change"
    hx-swap="innerHTML"
    hx-target="#notifications"
    >
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="mt-4 relative" x-data="{ active: false }" @mouseenter="active = true" @mouseleave = "active = false" >

        <label for="{{ field.id_for_label }}" class="absolute -top-2 left-2 inline-block bg-white px-1 text-xs font-medium text-gray-400">
          {{ form.instance.label }}
        </label>
        {{ field }}
      </div>
    {% endfor %}
  </form>
{% endif %}
