{% load i18n %}
<div id="education-box" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <h6  class="display-6 fs-6 mt-4" >{% trans "Education" %}</h6>
  <hr>
  {% for education in object.education_set.all %}
    <div id="education-{{ education.pk }}" class="input-group mb-3"  >
      <div class="input-group-prepend">
        <span class="input-group-text border-0" ><i class="bi bi-gear"></i></i></span>
      </div>
      <input class="form-control border-0 bg-white" spellcheck="false" type="text" name="education_title" value="{{education.title}}"
      hx-post="{{ education.update_object_url }}"  hx-swap="none" hx-trigger="keyup changed delay:1s">
      <button class="btn btn-outline-secondary  border-0"
       hx-post="{{ education.delete_object_url }}" hx-target="#education-{{education.pk}}" hx-swap="outerHTML"
       data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove this education' %}"><i class="bi bi-trash"></i></button>
    </div>
  {% endfor %}

  <div id="new-education-box">
    {% include "profiles/partials/education_new_button.html" %}
  </div>
</div>
