{% load i18n %}
<form  style="border: dashed 2px green; "  hx-post="{{ object.add_education_object_url }}" hx-trigger="submit" hx-swap="outerHTML" hx-target="#education-box">
    <div class="row">
      <div class="col-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-mortarboard"></i></span>
          </div>
          <input class="form-control border-0 bg-white" placeholder="{% trans 'Title, e.g: Mechanical Engineering Degree' %}"  type="text" name="education_title_new" maxlength="100" spellcheck="false">
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-check2-circle"></i></span>
          </div>
          <input class="form-control border-0 bg-white" placeholder="{% trans 'Grade, e.g. 7.1 (optional)' %}"  type="text" name="education_grade_new" maxlength="25" spellcheck="false">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-building"></i></span>
          </div>
          <input class="form-control border-0 bg-white" placeholder="{% trans 'Institution, e.g: University of Oxford' %}"  type="text" name="education_institution_new" maxlength="100" spellcheck="false">
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-link"></i></span>
          </div>
          <input class="form-control border-0 bg-white" placeholder="{% trans 'Link, e.g: https://www.ox.ac.uk/' %}"  type="text" name="education_title_new" maxlength="100" spellcheck="false">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-calendar4-event"></i></span>
          </div>
          <input class="form-control border-0 bg-white" placeholder="{% trans 'Start date, e.g. Mar 2019' %}"  type="text" name="education_start_date_new" maxlength="25" spellcheck="false">
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-calendar-check"></i></span>
          </div>
          <input class="form-control border-0 bg-white" placeholder="{% trans 'End date, e.g. Jan 2021' %}"  type="text" name="education_end_date_new" maxlength="25" spellcheck="false">
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-justify-left"></i></i></span>
          </div>
          <textarea class="form-control border-0 bg-white" placeholder="{% trans 'Description' %}"  type="text" name="education_description_new" maxlength="100" spellcheck="false"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove this education form' %}"
        hx-post="{{ object.delete_education_new_form_url }}" hx-target="#new-education-box" hx-swap="innerHTML"
        ><i class="bi bi-trash"></i></button>
      </div>
      <div class="col-11">
        <button class="btn btn-outline-secondary  border-0 w-100" type="submit" name="button"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Add this education' %}"><i class="bi bi-check-circle"> {% trans "Save" %}</i></button>
      </div>
    </div>
</form>
