{% load i18n %}
<div id="education-box">
  {% if object.education_active %}
    <h6 class="display-6 fs-6 mt-4" ><button class="btn btn-outline-secondary border-0"
     hx-post="{{ object.deactive_education_url }}" hx-target="#education-box" hx-swap="innerHTML"><i class="bi bi-trash"></i></button>{% trans "Education" %}</h6>
    <hr>
    {% for education in object.education_set.all %}
      <div id="education-{{ education.pk }}"  class="border border-secondary my-4">
        <!--buttons -->
        <div class="row">
          <div class="col-1">
            <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Move up' %}"
            hx-post="{{ object.move_up_education_object_url }}" hx-target="#education-box" hx-swap="outerHTML"
            {% if forloop.first %}disabled{% endif %}><i class="bi bi-arrow-up"></i></button>
          </div>
          <div class="col-1">
            <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Move down' %}"
            hx-post="{{ object.move_down_education_object_url }}" hx-target="#education-box" hx-swap="outerHTML"
            {% if forloop.last %}disabled{% endif %}><i class="bi bi-arrow-down"></i></button>
          </div>
          <div class="col-1">
            <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Copy' %}"
            hx-post="{{ object.duplicate_education_object_url }}" hx-target="#education-new" hx-swap="innerHTML"
            ><i class="bi bi-files"></i></button>
          </div>
          <div class="col-1">
            <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
            data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove' %}"
            hx-post="{{ object.delete_education_object_url }}" hx-target="#education-box" hx-swap="outerHTML"
            ><i class="bi bi-trash"></i></button>
          </div>
        </div>
        <!--title and grade -->
        <div class="row">
          <div class="col-8">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text border-0" ><i class="bi bi-mortarboard"></i></span>
              </div>
              <input class="form-control border-0 bg-white" placeholder="{% trans 'Title, e.g: Mechanical Engineering Degree' %}"  type="text" name="education_title" maxlength="{{max_length_normal}}" >
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text border-0" ><i class="bi bi-check2-circle"></i></span>
              </div>
              <input class="form-control border-0 bg-white" placeholder="{% trans 'Grade, e.g. 7.1 (optional)' %}"  type="text" name="education_grade" maxlength="{{max_length_super_short}}" >
            </div>
          </div>
        </div>

        <!--institution and link -->
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text border-0" ><i class="bi bi-building"></i></span>
              </div>
              <input class="form-control border-0 bg-white" placeholder="{% trans 'Institution, e.g: University of Oxford' %}"  type="text" name="education_institution" maxlength="{{max_length_normal}}" >
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text border-0" ><i class="bi bi-link"></i></span>
              </div>
              <input class="form-control border-0 bg-white" placeholder="{% trans 'Institution link, e.g: www.ox.ac.uk (optional)' %}"  type="text" name="education_institution_link" maxlength="{{max_length_normal}}" >
            </div>
          </div>
        </div>

        <!--start date and end date -->
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text border-0" ><i class="bi bi-calendar4-event"></i></span>
              </div>
              <input class="form-control border-0 bg-white" placeholder="{% trans 'Start date, e.g. Mar 2019' %}"  type="text" name="education_start_date" maxlength="{{max_length_super_short}}" >
            </div>
          </div>
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text border-0" ><i class="bi bi-calendar-check"></i></span>
              </div>
              <input class="form-control border-0 bg-white" type="text"
               placeholder="{% trans 'End date, e.g. Jan 2021, on going, ...' %}"
               name="education_end_date" maxlength="{{max_length_super_short}}" >
            </div>
          </div>
        </div>

        <!--description -->
        <div class="row">
          <div class="col">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text border-0" ><i class="bi bi-justify-left"></i></i></span>
              </div>
              <textarea class="form-control border-0 bg-white" placeholder="{% trans 'Description' %}"  type="text" name="education_description" maxlength="{{max_length_super_large}}"></textarea>
            </div>
          </div>
        </div>

      </div>
    {% endfor %}

    <div id="education-new">
      {% include "profiles/partials/education_new_button.html" %}
    </div>
  {% endif %}
</div>
