<div class="my-2 relative md:col-span-4"
     x-data="{ active: false }"
     @mouseenter="active = true"
     @mouseleave="active = false">
  {% if field.widget_type == "text" or field.widget_type == "textarea" %}
    <label for="{{ field.id_for_label }}"
           :class="active ? 'bg-indigo-200' : 'bg-slate-50'"
           class="absolute -top-2 left-2 inline-block rounded px-1 text-xs font-medium text-gray-400">
      {{ field.label }}
    </label>
  {% elif field.widget_type == "number" %}
    <label for="{{ field.id_for_label }}"
           :class="active ? 'bg-indigo-50' : 'bg-slate-50'"
           class="-top-1 left-2 inline-block px-1 text-xs font-medium text-gray-400 ">{{ field.label }}</label>
  {% endif %}
  {{ field }}
</div>
