<div class="mt-4 relative md:col-span-4"
     x-data="{ active: false }"
     @mouseenter="active = true"
     @mouseleave="active = false">
  {% if field.widget_type == "text" %}
    <label for="{{ field.id_for_label }}"
           :class="{{ html_forms.textinput.label.x_bind_class }}"
           class="{{ html_forms.textinput.label.class }}">{{ field.label }}</label>
  {% elif field.widget_type == "number" %}
    <label for="{{ field.id_for_label }}"
           :class="{{ html_forms.rangeinput.label.x_bind_class }}"
           class="{{ html_forms.rangeinput.label.class }}">{{ field.label }}</label>
  {% endif %}
  {{ field }}
</div>
