{% load i18n %}

<form hx-post="{{ object.save_general_and_contact_info_url }}" hx-trigger="change" hx-swap="none" >

{% csrf_token %}

<!-- first_name & last_name -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
      <span class="input-group-text border-0" ><i class="bi bi-person-circle"></i></span>
  </div>
  <input class="form-control border-0 bg-white" placeholder="{% trans 'First name' %}"  type="text" name="first_name" {% if object.first_name %} value="{{object.first_name}}" {% endif %} maxlength="50" spellcheck="false">

  <input class="form-control  border-0 bg-white" placeholder="{% trans 'Last name' %}"  type="text" name="last_name" {% if object.last_name %} value="{{object.last_name}}" {% endif %} maxlength="50" spellcheck="false">
</div>


<!-- jobtitle -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text border-0" ><i class="bi bi-building"></i></span>
  </div>
  <input class="form-control border-0 bg-white" placeholder="{% trans 'Job title' %}"  type="text" name="jobtitle" {% if object.jobtitle %} value="{{object.jobtitle}}" {% endif %} maxlength="50" spellcheck="false">
</div>

<!-- location -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text border-0" ><i class="bi bi-geo-alt"></i></span>
  </div>
  <input class="form-control border-0 bg-white" placeholder="{% trans 'Location' %}" type="text" name="location" {% if object.location %} value="{{object.location}}" {% endif %} maxlength="50" spellcheck="false">
</div>


<!-- birth_date -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text border-0" ><i class="bi bi-calendar-event"></i></span>
  </div>
  <input class="form-control border-0 bg-white" placeholder="{% trans 'Date of birth' %}" type="text" name="date_of_birth" {% if object.date_of_birth %} value="{{object.date_of_birth}}" {% endif %} maxlength="25" spellcheck="false">
</div>


<!-- phone -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text border-0" ><i class="bi bi-telephone"></i></span>
  </div>
  <input
  class="form-control border-0 bg-white" placeholder="{% trans 'Phone number' %}"  type="text" name="phone" {% if object.phone %} value="{{object.phone}}" {% endif %} maxlength="50" spellcheck="false">
</div>

<!-- email -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text border-0"><i class="bi bi-envelope"></i></span>
  </div>
  <input class="form-control border-0 bg-white" placeholder="{% trans 'Email' %}"  type="text" name="email" {% if object.email %} value="{{object.email}}" {% endif %} maxlength="50" spellcheck="false">
</div>
</form>
