{% load i18n %}
<div id="languages-box" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <h6  class="display-6 fs-6 mt-4" >{% trans "Languages" %}</h6>
  <hr>
  {% for language in object.languages.all %}
    <form hx-post="{{ language.update_object_url }}" hx-trigger="change" hx-swap="none">
      <div id="language-{{ language.pk }}" class="input-group mb-3"  >
        <div class="input-group-prepend">
          <span class="input-group-text border-0" ><i class="bi bi-chat-quote"></i></i></span>
        </div>
        <input class="form-control border-0 bg-white" spellcheck="false" type="text" name="language_name" value="{{language.name}}">
        <select class="form-control form-select border-0" name="language_level" >
           {% for value, showing_name in profile_language_level_choices %}
            <option value="{{value}}" {% if language.level == value %} selected {% endif %}>{{showing_name}}</option>
           {% endfor %}
        </select>
        <button class="btn btn-outline-secondary  border-0"
         hx-post="{{ language.delete_object_url }}" hx-target="#language-{{language.pk}}" hx-swap="outerHTML"
         data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove this language' %}"><i class="bi bi-trash"></i></button>
      </div>
    </form>
  {% endfor %}

  <form hx-post="{{ object.add_language_object_url }}" hx-trigger="submit" hx-swap="outerHTML" hx-target="#languages-box">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text border-0" ><i class="bi bi-chat-quote"></i></span>
      </div>
      <input class="form-control border-0 bg-white" placeholder="{% trans 'Add language ...' %}"  type="text" name="language_name_new"
         maxlength="100" spellcheck="false">
      <select class="form-control form-select border-0" name="language_level_new">
         {% for value, showing_name in profile_language_level_choices %}
          <option value="{{value}}">{{showing_name}}</option>
         {% endfor %}
      </select>
      <button class="btn btn-outline-secondary border-0" type="submit" name="button"
      data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Add this language' %}"><i class="bi bi-plus-circle"></i></button>
    </div>
  </form>
</div>
