<form hx-post="{{ profile.update_personal_info_url }}"
      hx-trigger="change"
      hx-swap="none">
  <div class="mt-2 grid grid-cols-1">
    {% include "profiles/partials/field_widget.html" with field=form.fullname field_label=profile.fullname_label %}
  </div>
  {% if profile.jobtitle_active %}
    <div class="mt-2 grid grid-cols-1">
      {% include "profiles/partials/field_widget.html" with field=form.jobtitle field_label=profile.jobtitle_label %}
    </div>
  {% endif %}
  {% if profile.location_active %}
    <div class="mt-2 grid grid-cols-1">
      {% include "profiles/partials/field_widget.html" with field=form.location field_label=profile.location_label %}
    </div>
  {% endif %}
  {% if profile.birth_active %}
    <div class="mt-2 grid grid-cols-1">
      {% include "profiles/partials/field_widget.html" with field=form.birth field_label=profile.birth_label %}
    </div>
  {% endif %}
  {% if profile.phone_active %}
    <div class="mt-2 grid grid-cols-1">
      {% include "profiles/partials/field_widget.html" with field=form.phone field_label=profile.phone_label %}
    </div>
  {% endif %}
  {% if profile.email_active %}
    <div class="mt-2 grid grid-cols-1">
      {% include "profiles/partials/field_widget.html" with field=form.email field_label=profile.email_label %}
    </div>
  {% endif %}
  {% if profile.website_active %}
    <div class="mt-2 grid grid-cols-1">
      {% include "profiles/partials/field_widget.html" with field=form.website field_label=profile.website_label %}
    </div>
  {% endif %}
  {% if profile.about_active %}
    <div class="mt-2 grid grid-cols-1">
      {% include "profiles/partials/field_widget.html" with field=form.about field_label=profile.about_label %}
    </div>
  {% endif %}
</form>
