{% load i18n %}

<button onclick="pollImageToCrop()" class="btn btn-outline-secondary border-0" id="edit-full-photo-button" type="button"
  hx-get="{{ object.get_photo_modal_url }}" hx-target="#modals-here"
  _="on htmx:afterOnLoad wait 10ms then add .show to #photo-modal then add .show to #photo-modal-backdrop">
  <i class="bi bi-pencil"></i></button>

<img src="{{ object.photo.url }}" alt="Photo" class="rounded-circle" width="200">

<button class="btn btn-outline-secondary border-0" type="button" hx-post="{{ object.delete_photos_url }}"
hx-target="#photo-box" hx-trigger="click" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <i class="bi bi-trash"></i></button>
