{% load i18n %}

<div id="profile-settings-modal-content">
  <div id="profile-settings-modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
    <div id="profile-settings-modal-" class="modal fade show" style="display:block;" tabindex="-1" aria-labelledby="profileSettingsLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="profileSettingsLabel">{% trans "Settings" %}</h5>
          </div>

          <div class="modal-body p-0">
            <div class="row border">
              <h6  class="display-6 fs-5 mt-1 text-center">
                <i class="bi bi-plus-square-dotted"></i>
                {% trans "Activate fields" %}
                <i class="bi bi-plus-square-dotted"></i>
              </h6>
            </div>
            <div class="row border">
              <div class="col-md-4">
                {% include "profiles/partials/description/activation_button.html" %}
                {% include "profiles/partials/website/activation_button.html" %}
                {% include "profiles/partials/skill/activation_button.html" %}
                {% include "profiles/partials/language/activation_button.html" %}
              </div>
              <div class="col-md-8">
                {% include "profiles/partials/education/activation_button.html" %}
                {% include "profiles/partials/experience/activation_button.html" %}
                {% include "profiles/partials/certification/activation_button.html" %}
                {% include "profiles/partials/course/activation_button.html" %}
                {% include "profiles/partials/honor/activation_button.html" %}
                {% include "profiles/partials/organization/activation_button.html" %}
                {% include "profiles/partials/patent/activation_button.html" %}
                {% include "profiles/partials/project/activation_button.html" %}
                {% include "profiles/partials/publication/activation_button.html" %}
                {% include "profiles/partials/volunteering/activation_button.html" %}
              </div>
            </div>
          </div>

          <div class="modal-footer">
            Footer
            <button type="button" class="btn btn-secondary"
              hx-get="{{ object.remove_profile_settings_modal_ur }}"
              hx-target="#profile-settings-modal-content"
              hx-swap="outerHTML">
              {% translate "Close"%}
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
