{% load i18n %}

<div class="container my-2 ">
  <div class="row">
    <div class="col">
      <h6  class="display-6 fs-4 mt-1 text-center text-danger">
        <i class="bi bi-file-pdf"></i>
        {% trans "Resume templates" %}
        <i class="bi bi-file-pdf"></i>
      </h6>

      <div class="row">
        {% for resume in resume_templates %}
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{ resume.image.url }}" alt="Resume template image">
              <div class="card-body">
                <h5 class="card-title">{{ resume.name }}</h5>
                <p class="card-text"></p>

                <form class="" action="{{ resume.download_object_url }}" method="post" target="_blank">
                  {% csrf_token %}
                  <input type="hidden" name="pk_profile" value="{{object.pk}}">
                  <button class="btn btn-outline-danger w-100" type="submit" name="button">  {% trans "Get the PDF" %}</button>
                </form>
              </div>
            </div>

          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
