{% load i18n %}

<div class="container my-2 ">
  <div class="row">
    <div class="col">
      <h6  class="display-6 fs-4 mt-1 text-center text-danger">
        <i class="bi bi-file-pdf"></i>
        {% trans "Resume templates" %}
        <i class="bi bi-file-pdf"></i>
      </h6>

      <div class="row">
        <div class="col">
          {% for resume in resume_templates %}
          <form class="" action="{{ resume.download_object_url }}" method="post" target="_blank">
            {% csrf_token %}
            <img src="{{ resume.image.url }}" alt="Resume template image">
            <input type="hidden" name="pk_profile" value="{{object.pk}}">
            <button type="submit" name="button">  {% trans "Select template" %}</button>
          </form>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
