{% load i18n %}
<div id="skills-box" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <h6  class="display-6 fs-6 mt-4" >{% trans "Skills" %}</h6>
  <hr>
  {% for skill in object.skills.all %}
    <div id="skill-{{ skill.pk }}" class="input-group mb-3"  >
      <div class="input-group-prepend">
        <span class="input-group-text border-0" ><i class="bi bi-gear"></i></i></span>
      </div>
      <input class="form-control border-0 bg-white"  type="text" name="name" value="{{skill.name}}"
      hx-post="{{ skill.update_object_url }}"  hx-swap="none" hx-trigger="keyup changed delay:1s">
      <button class="btn btn-outline-secondary  border-0"
       hx-post="{{ skill.delete_object_url }}" hx-target="#skill-{{skill.pk}}" hx-swap="outerHTML"
       data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove this skill' %}"><i class="bi bi-trash"></i></button>
    </div>
  {% endfor %}

  <form hx-post="{{ object.add_skill_object_url }}" hx-trigger="submit" hx-swap="outerHTML" hx-target="#skills-box">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text border-0" ><i class="bi bi-gear"></i></span>
      </div>
      <input class="form-control border-0 bg-white" placeholder="{% trans 'Type your skill ...' %}"  type="text" name="name"
         maxlength="100" >
      <button class="btn btn-outline-primary border-0" type="submit" name="button"
      data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Add this skill' %}"><i class="bi bi-plus-circle"></i></button>
    </div>
  </form>
</div>
