{% load i18n %}

<h6  class="display-6 fs-6 mt-5" ><i class="bi bi-plus-square-dotted"></i> {% trans "Additional fields" %} <i class="bi bi-plus-square-dotted"></i></h6>
<hr>

<div class="row">
  <div class="col-md-4">
    {% include "profiles/partials/description/activation_button.html" %}
    {% include "profiles/partials/website/activation_button.html" %}
    {% include "profiles/partials/skill/activation_button.html" %}
    {% include "profiles/partials/language/activation_button.html" %}

  </div>
  <div class="col-md-8">
    {% include "profiles/partials/education/activation_button.html" %}
    {% include "profiles/partials/experience/activation_button.html" %}
    {% include "profiles/partials/certification/activation_button.html" %}
    {% include "profiles/partials/course/activation_button.html" %}
    {% include "profiles/partials/honor/activation_button.html" %}
    {% include "profiles/partials/organization/activation_button.html" %}
    {% include "profiles/partials/patent/activation_button.html" %}
    {% include "profiles/partials/project/activation_button.html" %}
    {% include "profiles/partials/publication/activation_button.html" %}
    {% include "profiles/partials/volunteering/activation_button.html" %}

  </div>

</div>
