django
django-rosetta
django-allauth
django-htmx
django-crispy-forms
crispy-bootstrap5
django-tex
django-celery-results
django-analytical
python-dotenv
django-debug-toolbar
celery
pillow
pdf2image
stripe
flake8
coverage
autopep8
psycopg2-binary
gunicorn
redis
hiredis
