gunicorn
celery
django
deepl
pillow
dj-stripe
factory-boy
django-auto-prefetch
django-rosetta
django-allauth
django-simple-menu
django-htmx
django-crispy-forms
django-celery-results
django-slugger
python-dotenv
psycopg2-binary
django-coverage-plugin
pdf2image
flake8
coverage[toml]
redis
hiredis
boto3
django-storages
django-money[exchange]
django-modeltranslation
django-cleanup
crispy-tailwind
Jinja2
wagtail==5.1
wagtail-localize
wagtailmenus
wagtailsvg
fontawesomefree

tblib
djlint
ipython
unittest-parametrize
django-browser-reload
django-debug-toolbar
pyclean
pylint
autopep8
black
pylint-django
django-extensions
