{% load i18n %}
<footer class="w-100 py-4 flex-shrink-0">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="h1 text">nicecv.online</h5>
                <p class="small text-muted">{% trans "This site will enable you to create high quality CVs and related services" %}</p>
                <!-- <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">nicecv.online</a></p> -->
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text mb-3">{% trans "Quick links" %}</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url 'account_login' %}">{% trans "Get started" %}</a></li>
                    <li><a href="{% url 'general_faq' %}">{% trans "FAQ" %}</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text mb-3">{% trans "Legal" %}</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="{% url 'terms_and_conditions' %}">Terms and conditions</a></li>
                    <li><a href="{% url 'privacy_policy' %}">Private policy</a></li>
                    <li><a href="{% url 'cookie_policy' %}">Cookie policy</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-black mb-3">Newsletter</h5>
                <p class="small text-muted">{% trans "Suscribe to our newsletter to get tips about how to write good CVs and more " %}</p>
                <form action="{% url 'accounts_newsletter_subscribers_url' %}" method="post">
                  {% csrf_token %}
                    <div class="input-group mb-3">
                        <input name="email" class="form-control" type="text" placeholder="Enter your email" aria-describedby="button-addon2">
                        <button class="btn btn-primary" id="button-addon2" type="sumbit"> {% trans "Suscribe" %} </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>
