{% load i18n %}
<div id="skype-activation-button">
  {% if not object.skype_active %}
    <button class="btn btn-outline-secondary border-0"
            style="text-align:left"
            hx-post="{{ object.activate_skype_url }}"
            hx-target="#skype-box"
            hx-swap="outerHTML"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="{% translate 'Activate skype' %}">
      <i class="bi bi-skype"></i> {% translate 'Skype' %}
    </button>
  {% endif %}
</div>
