{% load i18n %}
<div id="volunteering-box" class="mt-5">
  {% if object.volunteering_active %}
    <h6  class="display-6 fs-6 mt-4 border-secondary border-2 border-bottom pb-3">

      <i class="bi bi-heart"></i> {% trans "Volunteering work" %}

      <button class="btn btn-outline-secondary border-0 float-end"
        hx-post="{{ object.deactivate_volunteering_url }}" hx-target="#volunteering-box" hx-swap="innerHTML"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Deactivate volunteering work' %}">
        <i class="bi bi-eye-slash"></i>
      </button>

      <button class="btn btn-outline-secondary border-0 float-end"
        hx-post="{{ object.deactivate_volunteering_url }}" hx-target="#modals-here"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Get information about this field' %}">
        <i class="bi bi-info-circle"></i>
      </button>

    </h6>

    {% for volunteering in object.volunteering_set.all %}
      <form hx-post="{{ volunteering.update_object_url }}" hx-trigger="change" hx-swap="none">
        <div id="volunteering-{{ volunteering.pk }}"  class="my-4 bg-light">
          <!--buttons -->
          <div class="row">
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
              data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Move up' %}"
              hx-post="{{ volunteering.move_up_object_url }}" hx-target="#volunteering-box" hx-swap="outerHTML"
              {% if forloop.first %}disabled{% endif %}>
              <i class="bi bi-arrow-up"></i></button>
            </div>
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
              data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Move down' %}"
              hx-post="{{ volunteering.move_down_object_url }}" hx-target="#volunteering-box" hx-swap="outerHTML"
              {% if forloop.last %}disabled{% endif %}>
              <i class="bi bi-arrow-down"></i></button>
            </div>
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
              data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Copy' %}"
              hx-post="{{ volunteering.copy_object_url }}" hx-target="#volunteering-new" hx-swap="innerHTML"
              ><i class="bi bi-files"></i></button>
            </div>
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
              data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove' %}"
              hx-post="{{ volunteering.delete_object_url }}" hx-target="#volunteering-box" hx-swap="outerHTML"
              ><i class="bi bi-trash"></i></button>
            </div>
          </div>

          <!--title and location -->
          <div class="row">
            <div class="col-7">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-heart"></i></span>
                </div>
                <input class="form-control border-0 bg-light"  type="text"
                  placeholder="{% trans 'Volunteering title, e.g: Teaching english in remote towns' %}"
                  name="title" maxlength="{{max_length_normal}}"
                  {% if volunteering.title %}value="{{ volunteering.title }}"{% endif %}>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-geo-alt"></i></span>
                </div>
                <input class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'Location, e.g. Tanzania' %}"
                  name="location" maxlength="{{max_length_short}}"
                  {% if volunteering.location %}value="{{ volunteering.location }}"{% endif %}>
              </div>
            </div>
          </div>

          <!--company and link -->
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-building"></i></span>
                </div>
                <input class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'Organization, e.g: Save the Children' %}"
                  name="organization" maxlength="{{max_length_short}}"
                  {% if volunteering.organization %}value="{{ volunteering.organization }}"{% endif %}>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-link"></i></span>
                </div>
                <input class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'Organization link, e.g: www.savethechildren.net' %}"
                  name="organization_link" maxlength="{{max_length_normal}}"
                  {% if volunteering.organization_link %}value="{{ volunteering.organization_link }}"{% endif %}>
              </div>
            </div>
          </div>

          <!--start date and end date -->
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-calendar4-event"></i></span>
                </div>
                <input class="form-control border-0 bg-light"  type="text"
                  placeholder="{% trans 'Start date, e.g. Mar 2019' %}"
                  name="start_date" maxlength="{{max_length_super_short}}"
                  {% if volunteering.start_date %}value="{{ volunteering.start_date }}"{% endif %}>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-calendar-check"></i></span>
                </div>
                <input class="form-control border-0 bg-light"  type="text"
                  placeholder="{% trans 'End date, e.g. Feb 2022, Present, ...' %}"
                  name="end_date" maxlength="{{max_length_super_short}}"
                  {% if volunteering.end_date %}value="{{ volunteering.end_date }}"{% endif %}>
              </div>
            </div>
          </div>

          <!-- description  -->
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-justify-left"></i></span>
                </div>
                <textarea class="form-control border-0 bg-light"  type="text"
                  placeholder="{% trans 'description' %}" name="description"
                  maxlength="{{max_length_super_large}}">{% if volunteering.description %}{{ volunteering.description }}{% endif %}</textarea>
              </div>
            </div>
          </div>

        </div>
      </form>
    {% endfor %}

    <div id="volunteering-new">
      {% include "profiles/partials/volunteering/new_button.html" %}
    </div>
  {% endif %}
</div>
