{% load i18n %}
<div id="stackoverflow-box">
  {% if object.stackoverflow_active %}
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text border-0"><i class="bi bi-stack-overflow"></i></span>
      </div>
      <input class="form-control border-0 bg-white"
             type="text"
             name="stackoverflow"
             placeholder="{% translate 'StackOverflow' %}"
             hx-post="{{ object.update_stackoverflow_url }}"
             hx-trigger="change"
             hx-swap="none"
             {% if object.stackoverflow %} value="{{ object.stackoverflow }}"{% endif %}
             maxlength="50">
      <!--
      <button class="btn btn-outline-secondary border-0 float-end" hx-post="{{ object.insert_stackoverflow_help_modal_url }}" hx-target="#modals-here" data-bs-toggle="tooltip" data-bs-placement="right" title="{% translate 'Get information about this field' %}">
        <i class="bi bi-info-circle"></i>
      </button>
      -->
      <button class="btn btn-outline-secondary  border-0"
              hx-post="{{ object.deactivate_stackoverflow_url }}"
              hx-target="#stackoverflow-box"
              hx-swap="innerHTML"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="{% translate 'Deactivate stackoverflow' %}">
        <i class="bi bi-eye-slash"></i>
      </button>
    </div>
  {% endif %}
</div>
