{% load i18n %}
<div id="education-box" class="">
    {% if object.education_active %}
        <!--
    <h6  class="display-6 fs-6 mt-4 border-secondary border-2 border-bottom pb-3">

      <i class="bi bi-mortarboard"></i> {% trans "Education" %}

      <button class="btn btn-outline-secondary border-0 float-end"
        hx-post="{{ object.deactivate_education_url }}" hx-target="#education-box" hx-swap="innerHTML"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Deactivate education fields' %}">
        <i class="bi bi-eye-slash"></i>
      </button>

      <button class="btn btn-outline-secondary border-0 float-end"
        hx-post="{{ object.insert_education_help_modal_url }}" hx-target="#modals-here"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Get information about this field' %}">
        <i class="bi bi-info-circle"></i>
      </button>

    </h6>
    -->
        <h6  class="display-6 fs-6 mt-4 border-secondary border-1 border-bottom">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white border-0"><i class="bi bi-mortarboard"></i></span>
                </div>
                <input class="form-control border-0 bg-white"  type="text" name="education_label" value="{{ object.education_label }}"
                    hx-post="{{ object.update_education_label_url }}" hx-trigger="change" hx-swap="none">

                <button class="btn btn-outline-secondary border-0 float-end"
                    hx-get="{{ object.insert_education_help_modal_url }}" hx-target="#modals-here"
                    data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Get information about this field' %}">
                    <i class="bi bi-info-circle"></i>
                </button>

                <button class="btn btn-outline-secondary border-0 float-end"
                    hx-post="{{ object.deactivate_education_url }}" hx-target="#education-box" hx-swap="innerHTML"
                    data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Deactivate educations' %}">
                    <i class="bi bi-eye-slash"></i>
                </button>
            </div>
        </h6>



        {% for education in object.education_set.all %}
            <form hx-post="{{ education.update_object_url }}" hx-trigger="change" hx-swap="none">
                <div id="education-{{ education.pk }}"  class="bg-light my-4">

                    <!--buttons -->
                    <div class="row">
                        <div class="col-1">
                            <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
                                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Move up' %}"
                                hx-post="{{ education.move_up_object_url }}" hx-target="#education-box" hx-swap="outerHTML"
                                {% if forloop.first %}disabled{% endif %}>
                                <i class="bi bi-arrow-up"></i>
                            </button>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
                                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Move down' %}"
                                hx-post="{{ education.move_down_object_url }}" hx-target="#education-box" hx-swap="outerHTML"
                                {% if forloop.last %}disabled{% endif %}>
                                <i class="bi bi-arrow-down"></i>
                            </button>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
                                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Copy' %}"
                                hx-post="{{ education.copy_object_url }}" hx-target="#education-new" hx-swap="innerHTML">
                                <i class="bi bi-files"></i>
                            </button>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
                                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove' %}"
                                hx-post="{{ education.delete_object_url }}" hx-target="#education-box" hx-swap="outerHTML">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>

                    <!--title and grade -->
                    <div class="row">
                        <div class="col-8">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text border-0"><i class="bi bi-mortarboard"></i></span>
                                </div>
                                <input class="form-control border-0 bg-light" type="text"
                                    placeholder="{% trans 'Title, e.g: Mechanical Engineering Degree' %}"
                                    name="title" maxlength="{{max_length_normal}}"
                                    {% if education.title %}value="{{ education.title }}"{% endif %}>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text border-0"><i class="bi bi-check2-circle"></i></span>
                                </div>
                                <input class="form-control border-0 bg-light" type="text"
                                    placeholder="{% trans 'Grade, e.g. 7.1 (optional)' %}"
                                    name="grade" maxlength="{{max_length_super_short}}"
                                    {% if education.grade %}value="{{ education.grade }}"{% endif %}>
                            </div>
                        </div>
                    </div>

                    <!--institution and link -->
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text border-0"><i class="bi bi-building"></i></span>
                                </div>
                                <input class="form-control border-0 bg-light"
                                    placeholder="{% trans 'Institution, e.g: University of Oxford' %}"
                                    type="text" name="institution" maxlength="{{max_length_normal}}"
                                    {% if education.institution %}value="{{ education.institution }}"{% endif %}>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text border-0"><i class="bi bi-link"></i></span>
                                </div>
                                <input class="form-control border-0 bg-light"
                                    placeholder="{% trans 'Institution link, e.g: www.ox.ac.uk (optional)' %}"
                                    type="text" name="institution_link" maxlength="{{max_length_normal}}"
                                    {% if education.institution_link %}value="{{ education.institution_link }}"{% endif %}>
                            </div>
                        </div>
                    </div>

                    <!--start date and end date -->
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text border-0"><i class="bi bi-calendar4-event"></i></span>
                                </div>
                                <input class="form-control border-0 bg-light" type="text"
                                    placeholder="{% trans 'Start date, e.g. Mar 2019' %}"
                                    name="start_date" maxlength="{{max_length_super_short}}"
                                    {% if education.start_date %}value="{{ education.start_date }}"{% endif %}>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text border-0"><i class="bi bi-calendar-check"></i></span>
                                </div>
                                <input class="form-control border-0 bg-light" type="text"
                                    placeholder="{% trans 'End date, e.g. Jan 2021, on going, ...' %}"
                                    name="end_date" maxlength="{{max_length_super_short}}"
                                    {% if education.end_date %}value="{{ education.end_date }}"{% endif %}>
                            </div>
                        </div>
                    </div>

                    <!--description -->
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text border-0"><i class="bi bi-justify-left"></i></span>
                                </div>
                                <textarea class="form-control border-0 bg-light" type="text"
                                    placeholder="{% trans 'Description' %}"  name="description"
                                    maxlength="{{max_length_super_large}}">{% if education.description %}{{ education.description }}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        {% endfor %}

        <div id="education-new">
            {% include "profiles/partials/education/new_button.html" %}
        </div>
    {% endif %}
</div>
