{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %} | {% translate "Home" %}  {% endblock %}


{% block content %}
  {% include "partials/_header.html" %}
  <h1> {% translate 'Homepage' %} </h1>
  <img class="bookcover" src="{% static 'images/dfp.jpg' %}">
  {% if user.is_authenticated %}
    <p>{% translate "Hello" %} {{ user.email }}</p>
  {% else %}
    <p> {% translate "You are not logged in" %} </p>
    <a href="{% url 'login' %}">{% translate "Log in" %}</a>
    <a href="{% url 'signup' %}">{% translate "Sign up" %}</a>
  {% endif %}


{% endblock %}
