{% extends "base.html" %}
{% load i18n %}


{% block title %} | {% translate "Privacy Policy" %}  {% endblock %}


{% block content %}
  <div class="container">
    <h1>{% translate "Privacy Policy" %}</h1>
    <p>{% translate "First of all, this is very boring stuff. I don't know why you got here, I guess it could be because of the following reasons:" %}</p>
    <ul>
      <li>{% translate "You care a lot about your data and you want to get informed. Nice, we also do!" %}</li>
      <li>{% translate "You just got lost in our page" %}</li>
    </ul>

    <h1 class="text-danger">{% translate "I will write this section once I learn about it" %}</h1>

  </div>

{% endblock %}
