{% load i18n %}
<div id="education-activation-button">
  {% if not object.education_active %}
    <button class="btn btn-outline-secondary border-0"
            style="text-align:left"
            hx-post="{{ object.activate_education_url }}"
            hx-target="#education-box"
            hx-swap="outerHTML"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="{% translate 'Activate education' %}">
      <i class="bi bi-mortarboard"></i> {% translate 'Education' %}
    </button>
  {% endif %}
</div>
