{% load i18n %}
<div id="organization-activation-button">
  {% if not object.organization_active %}
    <button class="btn btn-outline-secondary border-0"
            style="text-align:left"
            hx-post="{{ object.activate_organization_url }}"
            hx-target="#organization-box"
            hx-swap="outerHTML"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="{% translate 'Activate organization memberships' %}">
      <i class="bi bi-person-check"></i> {% translate 'Organization memberships' %}
    </button>
  {% endif %}
</div>
