{% load i18n %}
<div id="publication-activation-button">
    {% if not object.publication_active %}
        <button class="btn btn-outline-secondary border-0"
                style="text-align:left"
                hx-post="{{ object.activate_publication_url }}"
                hx-target="#publication-box"
                hx-swap="outerHTML"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="{% translate 'Activate publication' %}">
            <i class="bi bi-book"></i> {% translate 'Publications' %}
        </button>
    {% endif %}
</div>
