{% load i18n %}
<form  style="border: dashed 1.5px black; border-radius: 5px;"
  hx-post="{{ object.create_certification_object_url }}"
  hx-trigger="submit" hx-swap="innerHTML" hx-target="#certification-box">
    <!--title and issuing_date -->
    <div class="row">
      <div class="col-8">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0"><i class="bi bi-patch-check"></i></span>
          </div>
          <input class="form-control border-0 bg-white" type="text"
            placeholder="{% trans 'Title, e.g: Google Certified Professional (GCP) Cloud Architect' %}"
            name="title" maxlength="{{max_length_normal}}"
            {% if certification.title %}value="{{ certification.title }}"{% endif %}>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0"><i class="bi bi-calendar-check"></i></span>
          </div>
          <input class="form-control border-0 bg-white" type="text"
            placeholder="{% trans 'Issuing date, e.g. Apr 2021' %}"
            name="issuing_date" maxlength="{{max_length_super_short}}"
            {% if certification.issuing_date %}value="{{ certification.issuing_date }}"{% endif %}>
        </div>
      </div>
    </div>

    <!--issuer and link -->
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0"><i class="bi bi-building"></i></span>
          </div>
          <input class="form-control border-0 bg-white" type="text"
            placeholder="{% trans 'Issuer, e.g: Microsoft, Cambridge University, ...' %}"
            name="issuer" maxlength="{{max_length_normal}}"
            {% if certification.issuer %}value="{{ certification.issuer }}"{% endif %}>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0"><i class="bi bi-link"></i></span>
          </div>
          <input class="form-control border-0 bg-white" type="text"
            placeholder="{% trans 'Certificate link (optional)' %}"
            name="link" maxlength="{{max_length_normal}}"
            {% if certification.link %}value="{{ certification.link }}"{% endif %}>
        </div>
      </div>
    </div>

    <!--buttons -->
    <div class="row">
      <div class="col-1">
        <button class="btn btn-outline-secondary border-0 w-100" type="button"
          data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove' %}"
          hx-post="{{ object.remove_certification_new_form_url }}" hx-target="#certification-new" hx-swap="innerHTML">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="col-11">
        <button class="btn btn-outline-secondary  border-0 w-100" type="submit"
          data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Add this certification' %}">
          <i class="bi bi-check-circle"> {% trans "Save" %}</i>
        </button>
      </div>
    </div>
</form>
