


/* color for brands: https://brandcolors.net/ */

.socialaccount_provider.google {
  background-color: #4285f4;
}

.socialaccount_provider.twitter {
  background-color: #1D9BF0;
}

.socialaccount_provider.linkedin {
  background-color: #0a66c2;
}
