{% load i18n %}
<div id="project-box" class="mt-5">
  {% if object.project_active %}
    <h6  class="display-6 fs-6 mt-4 border-secondary border-2 border-bottom pb-3">

      <i class="bi bi-lightbulb"></i> {% trans "Projects" %}

      <button class="btn btn-outline-secondary border-0 float-end"
        hx-post="{{ object.deactivate_project_url }}" hx-target="#project-box" hx-swap="innerHTML"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Deactivate projects' %}">
        <i class="bi bi-eye-slash"></i>
      </button>

      <button class="btn btn-outline-secondary border-0 float-end"
        hx-post="{{ object.insert_project_help_modal_url }}" hx-target="#modals-here"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Get information about this field' %}">
        <i class="bi bi-info-circle"></i>
      </button>

    </h6>

    {% for project in object.project_set.all %}
      <form hx-post="{{ project.update_object_url }}" hx-trigger="change" hx-swap="none">
        <div id="project-{{ project.pk }}"  class="my-4 bg-light">
          <!--buttons -->
          <div class="row">
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
              data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Move up' %}"
              hx-post="{{ project.move_up_object_url }}" hx-target="#project-box" hx-swap="outerHTML"
              {% if forloop.first %}disabled{% endif %}>
              <i class="bi bi-arrow-up"></i></button>
            </div>
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
              data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Move down' %}"
              hx-post="{{ project.move_down_object_url }}" hx-target="#project-box" hx-swap="outerHTML"
              {% if forloop.last %}disabled{% endif %}>
              <i class="bi bi-arrow-down"></i></button>
            </div>
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
              data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Copy' %}"
              hx-post="{{ project.copy_object_url }}" hx-target="#project-new" hx-swap="innerHTML"
              ><i class="bi bi-files"></i></button>
            </div>
            <div class="col-1">
              <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
              data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove' %}"
              hx-post="{{ project.delete_object_url }}" hx-target="#project-box" hx-swap="outerHTML"
              ><i class="bi bi-trash"></i></button>
            </div>
          </div>

          <!--title and role -->
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-lightbulb"></i></span>
                </div>
                <input class="form-control border-0 bg-light"  type="text"
                  placeholder="{% trans 'Project name, e.g: My cool project' %}"
                  name="title" maxlength="{{max_length_normal}}"
                  {% if project.title %}value="{{ project.title }}"{% endif %}>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-person"></i></span>
                </div>
                <input class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'Role in the project, e.g. Developer (optional)' %}"
                  name="role" maxlength="{{max_length_short}}"
                  {% if project.role %}value="{{ project.role }}"{% endif %}>
              </div>
            </div>
          </div>

          <!--organization and link -->
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-building"></i></span>
                </div>
                <input class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'Organization, e.g: University of Oxford (optional)' %}"
                  name="organization" maxlength="{{max_length_short}}"
                  {% if project.organization %}value="{{ project.organization }}"{% endif %}>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-link"></i></span>
                </div>
                <input class="form-control border-0 bg-light" type="text"
                  placeholder="{% trans 'Link, e.g: www.my-project-site.com (optional)' %}"
                  name="link" maxlength="{{max_length_normal}}"
                  {% if project.link %}value="{{ project.link }}"{% endif %}>
              </div>
            </div>
          </div>

          <!--start date and end date -->
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-calendar4-event"></i></span>
                </div>
                <input class="form-control border-0 bg-light"  type="text"
                  placeholder="{% trans 'Start date, e.g. Mar 2019' %}"
                  name="start_date" maxlength="{{max_length_super_short}}"
                  {% if project.start_date %}value="{{ project.start_date }}"{% endif %}>
              </div>
            </div>
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-calendar-check"></i></span>
                </div>
                <input class="form-control border-0 bg-light"  type="text"
                  placeholder="{% trans 'End date, e.g. Feb 2022, Ongoing, ...' %}"
                  name="end_date" maxlength="{{max_length_super_short}}"
                  {% if project.end_date %}value="{{ project.end_date }}"{% endif %}>
              </div>
            </div>
          </div>

          <!--project -->
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0"><i class="bi bi-justify-left"></i></span>
                </div>
                <textarea class="form-control border-0 bg-light"  type="text"
                  placeholder="{% trans 'project' %}" name="project"
                  maxlength="{{max_length_super_large}}">{% if project.project %}{{ project.project }}{% endif %}</textarea>
              </div>
            </div>
          </div>

        </div>
      </form>
    {% endfor %}

    <div id="project-new">
      {% include "profiles/partials/project/new_button.html" %}
    </div>
  {% endif %}
</div>
