{% load i18n %}
<form  style="border: dashed 2px green;"
  hx-post="{{ object.create_project_object_url }}"
  hx-trigger="submit" hx-swap="innerHTML" hx-target="#project-box">

    <!--title and role -->
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-lightbulb"></i></span>
          </div>
          <input class="form-control border-0 bg-white"  type="text"
            placeholder="{% trans 'Project name, e.g: My cool project' %}"
            name="title" maxlength="{{max_length_normal}}"
            {% if project.title %}value="{{ project.title }}"{% endif %}>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-person"></i></span>
          </div>
          <input class="form-control border-0 bg-white" type="text"
            placeholder="{% trans 'Role in the project, e.g. Developer (optional)' %}"
            name="role" maxlength="{{max_length_short}}"
            {% if project.role %}value="{{ project.role }}"{% endif %}>
        </div>
      </div>
    </div>

    <!--organization and link -->
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-building"></i></span>
          </div>
          <input class="form-control border-0 bg-white" type="text"
            placeholder="{% trans 'Organization, e.g: University of Oxford (optional)' %}"
            name="organization" maxlength="{{max_length_short}}"
            {% if project.organization %}value="{{ project.organization }}"{% endif %}>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-link"></i></span>
          </div>
          <input class="form-control border-0 bg-white" type="text"
            placeholder="{% trans 'Link, e.g: www.my-project-site.com (optional)' %}"
            name="link" maxlength="{{max_length_normal}}"
            {% if project.link %}value="{{ project.link }}"{% endif %}>
        </div>
      </div>
    </div>

    <!--start date and end date -->
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-calendar4-event"></i></span>
          </div>
          <input class="form-control border-0 bg-white"  type="text"
            placeholder="{% trans 'Start date, e.g. Mar 2019' %}"
            name="start_date" maxlength="{{max_length_super_short}}"
            {% if project.start_date %}value="{{ project.start_date }}"{% endif %}>
        </div>
      </div>
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-calendar-check"></i></span>
          </div>
          <input class="form-control border-0 bg-white"  type="text"
            placeholder="{% trans 'End date, e.g. Feb 2022, Ongoing, ...' %}"
            name="end_date" maxlength="{{max_length_super_short}}"
            {% if project.end_date %}value="{{ project.end_date }}"{% endif %}>
        </div>
      </div>
    </div>

    <!--description -->
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0" ><i class="bi bi-justify-left"></i></span>
          </div>
          <textarea class="form-control border-0 bg-white"  type="text"
            placeholder="{% trans 'Description' %}" name="description"
            maxlength="{{max_length_super_large}}">{% if project.description %}{{ project.description }}{% endif %}</textarea>
        </div>
      </div>
    </div>

    <!--buttons -->
    <div class="row">
      <div class="col-1">
        <button class="btn btn-outline-secondary border-0 w-100" type="button" name="button"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove this project form' %}"
        hx-post="{{ object.remove_project_new_form_url }}" hx-target="#project-new" hx-swap="innerHTML"
        ><i class="bi bi-trash"></i></button>
      </div>
      <div class="col-11">
        <button class="btn btn-outline-secondary  border-0 w-100" type="submit" name="button"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Add this project' %}"><i class="bi bi-check-circle"> {% trans "Save" %}</i></button>
      </div>
    </div>
</form>
