{% load i18n %}
<div id="gitlab-box">
    {% if object.gitlab_active %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text border-0"><i class="bi bi-git"></i></span>
            </div>
            <input class="form-control border-0 bg-white" type="text" name="gitlab"
                placeholder="{% trans 'GitLab' %}"
                hx-post="{{ object.update_gitlab_url }}" hx-trigger="change" hx-swap="none"
                {% if object.gitlab %} value="{{object.gitlab}}" {% endif %} maxlength="50">
            <!--
      <button class="btn btn-outline-secondary border-0 float-end"
        hx-post="{{ object.insert_gitlab_help_modal_url }}" hx-target="#modals-here"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Get information about this field' %}">
        <i class="bi bi-info-circle"></i>
      </button>
      -->
            <button class="btn btn-outline-secondary  border-0"
                hx-post="{{ object.deactivate_gitlab_url }}" hx-target="#gitlab-box" hx-swap="innerHTML"
                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Deactivate gitlab' %}">
                <i class="bi bi-eye-slash"></i>
            </button>
        </div>
    {% endif %}
</div>
