<!-- Current: "bg-indigo-50 border-indigo-500 text-indigo-700",
      Default: "border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800" -->
<a href="{{ url }}" {% if url == request.path %} class="block border-l-4 border-indigo-500 bg-indigo-50 py-2 pl-3 pr-4 text-base font-medium text-indigo-700" {% else %} class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800" {% endif %} title={{ title }}>{{ title }}</a>
