
{% extends "base.html" %}

{% load i18n %}



{% block title %} | {% translate "Pricing" %}  {% endblock %}



{% block content %}

<div class="container">

<h1>{% translate "Pricing" %}</h1>

<ul>
  <li> <a href="https://github.com/jazzband/django-payments">django-payments</a> </li>
  <li> <a href="https://github.com/django-getpaid/django-getpaid">django-getpaid</a> </li>
  <li> <a href="https://github.com/django-getpaid/django-plans">django-plans</a> </li>
</ul>


<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
  <div class="col-lg-4 col-md-4">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">{% translate "Free" %}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"> 0,00 € </h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        {% if not user.is_authenticated %}
          <a href="{% url 'account_signup' %}" class="w-100 btn btn-lg btn-outline-primary">{% translate "Sign up for free" %}</a>
        {% endif %}
      </div>
    </div>
  </div>


  <div class="col-lg-8 col-md-8">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal">{% trans "PRO" %}</h4>
      </div>
      <div class="card-body">

        <form class="mt-4 mb-2" action="{% url 'pricing_checkout' %}" method="post">
          {% csrf_token %}
          <input name="months" type="range" class="form-range" min="1" max="12" value="{{ plan.months }}"
               hx-get="{% url 'pricing_update_price' %}"  hx-target="#pro-price-months" hx-swap="innerHTML">

        <div id="pro-price-months">
          {% include "pricing/partials/price_months.html" %}
        </div>

        <ul class="list-unstyled mt-3 mb-4">
          <li>20 users included</li>
          <li>10 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <button type="submit" class="w-100 btn btn-lg btn-primary">{% trans "Select plan" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

<form class="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="button">Get</button>

</form>


</div>


{% endblock %}
