
{% extends "base.html" %}

{% load i18n %}



{% block title %} | {% translate "Pricing" %}  {% endblock %}



{% block content %}

<div class="container">

<h1>{% translate "Pricing" %}</h1>

<ul>
  <li> <a href="https://github.com/jazzband/django-payments">django-payments</a> </li>
  <li> <a href="https://github.com/django-getpaid/django-getpaid">django-getpaid</a> </li>
  <li> <a href="https://github.com/django-getpaid/django-plans">django-plans</a> </li>
</ul>

<form class="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="button">Get</button>

</form>


</div>


{% endblock %}
