

<form   hx-swap="outerHTML" hx-target="this">
  {% for field in profile_form %}
    <div  class="mt-4" x-data="{ open: false }"  x-on:mouseenter="open = true" x-on:mouseleave="open = false">

      <div  class="mt-4" x-show="!open">
        {% if field.value %} {{ field.value }} {% else %} <i class="text-slate-300"> {{field.label}}</i>{% endif %}
        {{ field.value }}
      </div>

      <div class="mt-4" x-show="open">
        <input hx-trigger="keyup changed delay:1s" hx-post="{{ object.update_fields_url }}" name="{{field.name}}" id="{{field.label}}"
        {% if field.value %} value="{{ field.value }}"  {% endif %}
        class="block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <ul>
      <li>{{field.label}} = {{ field.value }}</li>
    </ul>
  {% endfor %}
</form>
