{% load i18n %}
<form class="form-inline me-4 mt-1"
      action="{% url 'set_language' %}"
      method="post">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}">
  <div class="input-group ">
    <div class="input-group-prepend">
      <span class="input-group-text text-secondary border-0" id="basic-addon1"><i class="bi bi-globe"></i></span>
    </div>
    <select onchange="this.form.submit()"
            name="language"
            class="form-control text-secondary border-0">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
        <option value="{{ language.code }}"
                {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
          {{ language.name_local|capfirst }} ({{ language.code }})
        </option>
      {% endfor %}
    </select>
  </div>
</form>
