{% load wagtailimages_tags wagtailcore_tags svg %}
{% if self.template_type == "centered" %}
  <div class="bg-white py-24 sm:py-32 mt-2">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-indigo-600">{{ self.heading_text }}</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ self.slogan }}</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">{{ self.description }}</p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          {% for item in self.items %}
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                  <div class="h-6 w-6 text-white">{% svg item.svg.file %}</div>
                </div>
                {{ item.name }}
              </dt>
              <dd class="mt-2 text-base leading-7 text-gray-600">
                {{ item.description }}
              </dd>
            </div>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
{% elif self.template_type == "with-offset" %}
  <div class="bg-white py-24 sm:py-32 mt-2">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ self.heading_text }}</h2>
        <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2">
          {% for item in self.items %}
            <div>
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                  <div class="h-6 w-6 text-white">{% svg item.svg.file %}</div>
                </div>
                {{ item.name }}
              </dt>
              <dd class="mt-1 text-base leading-7 text-gray-600">
                {{ item.description }}
              </dd>
            </div>
          {% endfor %}
        </dl>
      </div>
    </div>
  </div>
{% elif self.template_type == "with-image-on-left" %}
  <div class="overflow-hidden bg-white py-24 sm:py-32 mt-2">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:ml-auto lg:pl-4 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-indigo-600">{{ self.heading_text }}</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ self.slogan }}</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">{{ self.description }}</p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              {% for item in self.items %}
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <div class="absolute left-1 top-1 h-5 w-5 text-indigo-600">{% svg item.svg.file %}</div>
                    {{ item.name }}.
                  </dt>
                  <dd class="inline">
                    {{ item.description }}
                  </dd>
                </div>
              {% endfor %}
            </dl>
          </div>
        </div>
        <div class="flex items-start justify-end lg:order-first">
          {% image self.image width-800 class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" alt="" %}
        </div>
      </div>
    </div>
  </div>
{% elif self.template_type == "with-image-on-right" %}
  <div class="overflow-hidden bg-white py-24 sm:py-32 mt-2">
    <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
        <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-indigo-600">{{ self.heading_text }}</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ self.slogan }}</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">{{ self.description }}</p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              {% for item in self.items %}
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <div class="absolute left-1 top-1 h-5 w-5 text-indigo-600">{% svg item.svg.file %}</div>
                    {{ item.name }}.
                  </dt>
                  <dd class="inline">
                    {{ item.description }}
                  </dd>
                </div>
              {% endfor %}
            </dl>
          </div>
        </div>
        <div class="sm:px-6 lg:px-0">
          <div class="relative isolate overflow-hidden bg-indigo-500 px-6 pt-8 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-16 sm:pr-0 sm:pt-16 lg:mx-0 lg:max-w-none">
            <div class="absolute -inset-y-px -left-3 -z-10 w-full origin-bottom-left skew-x-[-30deg] bg-indigo-100 opacity-20 ring-1 ring-inset ring-white"
                 aria-hidden="true"></div>
            <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
              {% image self.image width-800 class="-mb-12 w-[57rem] max-w-none rounded-tl-xl bg-gray-800 ring-1 ring-white/10" alt="" %}
            </div>
            <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 sm:rounded-3xl"
                 aria-hidden="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
