<!-- https://tailwindui.com/components/marketing/sections/header -->
{% if self.template_type == "simple-on-dark" %}
  <div class="bg-gray-900 py-24 sm:py-32 rounded-3xl mt-2">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{ self.heading_text }}</h2>
        {% if self.description %}<p class="mt-6 text-lg leading-8 text-gray-300">{{ self.description }}</p>{% endif %}
      </div>
    </div>
  </div>
{% elif self.template_type == "simple" %}
  <div class=" py-24 sm:py-32  rounded-3xl mt-2">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{{ self.heading_text }}</h2>
        {% if self.description %}<p class="mt-6 text-lg leading-8 text-gray-600">{{ self.description }}</p>{% endif %}
      </div>
    </div>
  </div>
{% elif self.template_type == "centered" %}
  <div class=" px-6 py-24 sm:py-32 lg:px-8 rounded-3xl mt-2">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{{ self.heading_text }}</h2>
      {% if self.description %}<p class="mt-6 text-lg leading-8 text-gray-600">{{ self.description }}</p>{% endif %}
    </div>
  </div>
{% elif self.template_type == "centered-on-dark" %}
  <div class="bg-gray-900 px-6 py-24 sm:py-32 lg:px-8 rounded-3xl mt-2">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">{{ self.heading_text }}</h2>
      {% if self.description %}<p class="mt-6 text-lg leading-8 text-gray-300">{{ self.description }}</p>{% endif %}
    </div>
  </div>
{% endif %}
