{% load wagtailimages_tags %}
{% if self.template_type == "with-image-on-left" %}
  <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8 mt-2">
    <!-- Right -->
    <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
      {% image self.image width-1200 loading="lazy" class="h-full w-full object-cover object-center sm:rounded-lg" %}
    </div>
    <!-- Left-->
    <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
      <div class="prose lg:prose-xl text-justify max-w-full	mt-5 mx-2">{{ self.text }}</div>
    </div>
  </div>
{% elif self.template_type == "with-image-on-right" %}
  <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8 mt-2">
    <!-- Left-->
    <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
      <div class="prose lg:prose-xl text-justify max-w-full	mt-5 mx-2">{{ self.text }}</div>
    </div>
    <!-- Right -->
    <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
      {% image self.image width-1200 loading="lazy" class="h-full w-full object-cover object-center sm:rounded-lg" %}
    </div>
  </div>
{% endif %}
