{% load i18n static humanize %}
<div id="cv_{{ cv.id }}">
  <div class="relative">
    <div class="relative h-full w-full overflow-hidden rounded-lg">
      <img src="{{ cv.image.url }}"
           alt="Front of zip tote bag with white canvas, black canvas straps and handle, and black zipper pulls."
           class="h-full w-full object-cover object-center">
    </div>
    <div class="relative mt-4">
      <h3 class="text-sm font-medium text-gray-900">{{ cv.tex.title }}</h3>
      <p class="mt-1 text-sm text-gray-500 ">
        {% trans "Average process time:" %} {{ cv.tex.average_rendering_time |floatformat:1|intcomma }} {% trans "seconds" %}
      </p>
    </div>
  </div>
  <div class="mt-3">
    <button class="w-full mb-3">
      <a hx-post="{% url 'profile_create_cv' profile_id=profile.id tex_id=cv.tex.id %}"
         class="relative h-12 w-full flex items-center justify-center  rounded-md border border-transparent bg-gray-700 px-8 py-2 text-sm font-medium text-gray-100 hover:bg-gray-900"
         hx-target="#cv_{{ cv.id }}"
         hx-swap="outerHTML">
        {% trans "Generate CV" %}
        <img class="absolute  right-2  htmx-indicator "
             src="{% static 'img/animated/puff.svg' %}"/>
      </a>
    </button>
    {% if not cv.profile.category == "template" %}
      <button class="w-full">
        <a href="{{ cv.pdf.url }}"
           target="_blank"
           download
           class="relative w-full flex items-center justify-center rounded-md bg-indigo-500 px-3.5 py-2.5 text-lg font-semibold text-white shadow-lg hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
          {% trans "Download" %} ⬇️
        </a>
      </button>
    {% endif %}
  </div>
</div>
