{% load i18n %}
<div id="twitter-activation-button">
    {% if not object.twitter_active %}
        <button class="btn btn-outline-secondary border-0"
                style="text-align:left"
                hx-post="{{ object.activate_twitter_url }}"
                hx-target="#twitter-box"
                hx-swap="outerHTML"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="{% translate 'Activate twitter' %}">
            <i class="bi bi-twitter"></i> {% translate 'Twitter' %}
        </button>
    {% endif %}
</div>
