{% load i18n %}
<form  style="border: dashed 1.5px black; border-radius: 5px;"
    hx-post="{{ object.create_course_object_url }}"
    hx-trigger="submit" hx-swap="innerHTML" hx-target="#course-box">
    <!--title and issuing_date -->
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text border-0"><i class="bi bi-person-video3"></i></span>
                </div>
                <input class="form-control border-0 bg-white" type="text"
                    placeholder="{% trans 'Title, e.g: Python course' %}"
                    name="title" maxlength="{{max_length_normal}}"
                    {% if course.title %}value="{{ course.title }}"{% endif %}>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text border-0"><i class="bi bi-calendar-check"></i></span>
                </div>
                <input class="form-control border-0 bg-white" type="text"
                    placeholder="{% trans 'Issuing date, e.g. Feb 2022' %}"
                    name="issuing_date" maxlength="{{max_length_super_short}}"
                    {% if course.issuing_date %}value="{{ course.issuing_date }}"{% endif %}>
            </div>
        </div>
    </div>

    <!--issuer and hours -->
    <div class="row">
        <div class="col-8">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text border-0"><i class="bi bi-building"></i></span>
                </div>
                <input class="form-control border-0 bg-white" type="text"
                    placeholder="{% trans 'Issuer, e.g: Linkedin Learning' %}"
                    name="issuer" maxlength="{{max_length_normal}}"
                    {% if course.issuer %}value="{{ course.issuer }}"{% endif %}>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text border-0"><i class="bi bi-clock"></i></span>
                </div>
                <input class="form-control border-0 bg-white" type="text"
                    placeholder="{% trans 'Hours, e.g: 12 hours' %}"
                    name="hours" maxlength="{{max_length_normal}}"
                    {% if course.hours %}value="{{ course.hours }}"{% endif %}>
            </div>
        </div>
    </div>
    <!-- link -->
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text border-0"><i class="bi bi-link"></i></span>
                </div>
                <input class="form-control border-0 bg-white" type="text"
                    placeholder="{% trans 'Course link (optional)' %}"
                    name="link" maxlength="{{max_length_normal}}"
                    {% if course.link %}value="{{ course.link }}"{% endif %}>
            </div>
        </div>
    </div>

    <!--buttons -->
    <div class="row">
        <div class="col-1">
            <button class="btn btn-outline-secondary border-0 w-100" type="button"
                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove' %}"
                hx-post="{{ object.remove_course_new_form_url }}" hx-target="#course-new" hx-swap="innerHTML">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
        <div class="col-11">
            <button class="btn btn-outline-secondary  border-0 w-100" type="submit"
                data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Add this course' %}">
                <i class="bi bi-check-circle"> {% trans "Save" %}</i>
            </button>
        </div>
    </div>
</form>
