{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags humanize i18n %}
{% block content %}
  <!-- header and page.description-->
  {% include "cms/blog/_header.html" %}
  <!-- blog posts -->
  <div class="mx-auto mt-2 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
    {% for post in posts %}
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="{{ post.latest_revision_created_at|date:'Y-m-d' }}"
                class="text-gray-500">{{ post.latest_revision_created_at  | naturaltime }}</time>
          <!-- there comes the tags if available -->
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="{{ post.url }}"> <span class="absolute inset-0"></span>{{ post.title }}</a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{ post.description }}</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          {% for author in post.authors|slice:1 %}
            {% image author.image fill-200x200-c100 class="h-10 w-10 rounded-full bg-gray-50" %}
            <div class="text-sm leading-6">
              <p class="font-semibold text-gray-900">
                <a href="#"> <span class="absolute inset-0"></span>{{ author.name }}</a>
              </p>
              <p class="text-gray-600">{{ author.job_title }}</p>
            </div>
          {% endfor %}
        </div>
      </article>
    {% endfor %}
  </div>
  {% include "components/pagination.html" with page_obj=posts %}
{% endblock content %}
