{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags humanize i18n %}
{% block content %}
  {% include "cms/blog/_header.html" %}
  <div class=" py-5 sm:px-6">
    <div class="-ml-4 -mt-4 flex flex-wrap items-center justify-between sm:flex-nowrap">
      {% for author in page.authors %}
        <div class="ml-4 mt-4">
          <div class="flex items-center">
            <div class="flex-shrink-0">{% image author.image fill-50x50-c100 class="h-12 w-12 rounded-full" %}</div>
            <div class="ml-4">
              <h3 class="text-base font-semibold leading-6 text-gray-900">{{ author.name }}</h3>
              <p class="text-sm text-gray-500">{{ author.job_title }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="ml-4 mt-4 flex flex-shrink-0">
        {% trans "Last update:" %} {{ page.latest_revision_created_at | naturaltime }}
      </div>
    </div>
  </div>
  {% if page.body %}{{ page.body }}{% endif %}
{% endblock content %}
