{% load i18n %}
<form class="input-group my-3"
      action="{{ object.generate_resume_testing_url }}"
      method="post"
      target="_blank">
  {% csrf_token %}
  <select class="form-select" name="tex_template_id">
    {% for resume_template in resume_templates %}
      <option value="{{ resume_template.id }}">
        {{ resume_template.name }}
      </option>
    {% endfor %}
  </select>
  <button class="btn btn-outline-danger" type="submit" name="button">{% translate "Generate resume (testing)" %}</button>
</form>
