{% load i18n %}

<div class="progress w-100" id='progress-bar'
  hx-get="{{ object.resume_creation_status_url }}" hx-target="this" hx-trigger="load delay:200ms" hx-swap="outerHTML">
  <div class="progress-bar bg-success" role="progressbar" {% if progress %} style="width: {{progress.percent}}%;"
    aria-valuenow="{{progress.percent}}" {% endif %} aria-valuemin="0" aria-valuemax="100">
    {% if progress %}{{progress.description}} {% trans "items processed" %}{% endif %}
  </div>
</div>
