{% load static i18n django_htmx menu_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="h-full bg-gray-50">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ settings.cms.Brand.svg.file.url }}" />
    <link rel="apple-touch-icon" href="{{ settings.cms.Brand.svg.file.url }}" />
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R41NBVLCS8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R41NBVLCS8');
    </script>
    <!-- for more css in a specific page -->
    {% block css %}
    {% endblock css %}
    <title>
      {% block head_title %}
      {% endblock head_title %}
    </title>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="h-full">
    {% include "includes/banner.html" %}
    {% include "includes/navbar.html" %}
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      {% include "includes/messages.html" %}
      {% block content %}
      {% endblock content %}
    </div>
    {% include "includes/footer.html" %}
    <!-- js -->
    <script defer src="{% static 'js/htmx.js' %}"></script>
    <script defer src="{% static 'js/cropper.js' %}"></script>
    <script defer src="{% static 'js/alpine_persist.js' %}"></script>
    <script defer src="{% static 'js/alpine.js' %}"></script>
    <script defer src="{% static 'js/base.js' %}"></script>
    <script defer src="{% static 'js/sortable.js' %}"></script>
    {% django_htmx_script %}
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
