{% load static i18n django_htmx menu_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- my custom css -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}" />
    <!-- for more css in a specific page -->
    {% block css %}
    {% endblock css %}
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "includes/messages.html" %}
    {% main_menu %}
    {% block content %}
    {% endblock content %}
    {% block extra_body %}
    {% endblock extra_body %}
    <!-- js files -->
    <script defer src="{% static 'js/htmx.js' %}"></script>
    <script defer src="{% static 'js/cropper.js' %}"></script>
    <script defer src="{% static 'js/alpine.js' %}"></script>
    <script defer src="{% static 'js/base.js' %}"></script>
    <script defer src="{% static 'js/sortable.js' %}"></script>
    {% django_htmx_script %}
  </body>
</html>
