{% load i18n %}


<!-- modals -->
<div id="modals-here"></div>

<!-- htmx server triggers -->

<!-- when the full photo is uploaded to the server, get the modal to edit the photo -->
<div hx-get="{{ object.get_photo_modal_url }}" hx-target="#modals-here"
hx-trigger="fullPhotoUploadedEvent from:body"
_="on htmx:afterOnLoad wait 10ms then add .show to #photo-modal then add .show to #photo-modal-backdrop"></div>
<!-- when the photo is cropped (= cropping data is submitted to the server), remove the the modal -->
<div hx-get="{{ object.remove_photo_modal_url }}" hx-target="#photo-modal-content" hx-swap="outerHTML"
hx-trigger="photoCroppedEvent from:body"></div>


<!-- when description is deactivated, insert the description button -->
<div hx-get="{{ object.insert_description_activation_button_url }}" hx-target="#description-activation-button" hx-swap="innerHTML"
hx-trigger="descriptionDeactivatedEvent from:body"></div>
<!-- when description is activated, remove  the description button -->
<div hx-get="{{ object.remove_description_activation_button_url }}" hx-target="#description-activation-button" hx-swap="innerHTML"
hx-trigger="descriptionActivatedEvent from:body"></div>


<!-- when website is deactivated, insert the website button -->
<div hx-get="{{ object.insert_website_activation_button_url }}" hx-target="#website-activation-button" hx-swap="innerHTML"
hx-trigger="websiteDeactivatedEvent from:body"></div>
<!-- when website is activated, remove  the website button -->
<div hx-get="{{ object.remove_website_activation_button_url }}" hx-target="#website-activation-button" hx-swap="innerHTML"
hx-trigger="websiteActivatedEvent from:body"></div>


<!-- when skill is deactivated, insert the skill button -->
<div hx-get="{{ object.insert_skill_activation_button_url }}" hx-target="#skill-activation-button" hx-swap="innerHTML"
hx-trigger="skillDeactivatedEvent from:body"></div>
<!-- when skill is activated, remove  the skill button -->
<div hx-get="{{ object.remove_skill_activation_button_url }}" hx-target="#skill-activation-button" hx-swap="innerHTML"
hx-trigger="skillActivatedEvent from:body"></div>



<!-- when language is deactivated, insert the language button -->
<div hx-get="{{ object.insert_language_activation_button_url }}" hx-target="#language-activation-button" hx-swap="innerHTML"
hx-trigger="languageDeactivatedEvent from:body"></div>
<!-- when language is activated, remove  the language button -->
<div hx-get="{{ object.remove_language_activation_button_url }}" hx-target="#language-activation-button" hx-swap="innerHTML"
hx-trigger="languageActivatedEvent from:body"></div>


<!-- when education is deactivated, insert the education button -->
<div hx-get="{{ object.insert_education_activation_button_url }}" hx-target="#education-activation-button" hx-swap="innerHTML"
hx-trigger="educationDeactivatedEvent from:body"></div>
<!-- when education is activated, remove  the education button -->
<div hx-get="{{ object.remove_education_activation_button_url }}" hx-target="#education-activation-button" hx-swap="innerHTML"
hx-trigger="educationActivatedEvent from:body"></div>


<!-- when experience is deactivated, insert the experience button -->
<div hx-get="{{ object.insert_experience_activation_button_url }}" hx-target="#experience-activation-button" hx-swap="innerHTML"
hx-trigger="experienceDeactivatedEvent from:body"></div>
<!-- when experience is activated, remove  the experience button -->
<div hx-get="{{ object.remove_experience_activation_button_url }}" hx-target="#experience-activation-button" hx-swap="innerHTML"
hx-trigger="experienceActivatedEvent from:body"></div>


<!-- when certification is deactivated, insert the certification button -->
<div hx-get="{{ object.insert_certification_activation_button_url }}" hx-target="#certification-activation-button" hx-swap="innerHTML"
hx-trigger="certificationDeactivatedEvent from:body"></div>
<!-- when certification is activated, remove  the certification button -->
<div hx-get="{{ object.remove_certification_activation_button_url }}" hx-target="#certification-activation-button" hx-swap="innerHTML"
hx-trigger="certificationActivatedEvent from:body"></div>


<!-- when course is deactivated, insert the course button -->
<div hx-get="{{ object.insert_course_activation_button_url }}" hx-target="#course-activation-button" hx-swap="innerHTML"
hx-trigger="courseDeactivatedEvent from:body"></div>
<!-- when course is activated, remove  the course button -->
<div hx-get="{{ object.remove_course_activation_button_url }}" hx-target="#course-activation-button" hx-swap="innerHTML"
hx-trigger="courseActivatedEvent from:body"></div>


<!-- when honor is deactivated, insert the honor button -->
<div hx-get="{{ object.insert_honor_activation_button_url }}" hx-target="#honor-activation-button" hx-swap="innerHTML"
hx-trigger="honorDeactivatedEvent from:body"></div>
<!-- when honor is activated, remove  the honor button -->
<div hx-get="{{ object.remove_honor_activation_button_url }}" hx-target="#honor-activation-button" hx-swap="innerHTML"
hx-trigger="honorActivatedEvent from:body"></div>


<!-- when organization is deactivated, insert the organization button -->
<div hx-get="{{ object.insert_organization_activation_button_url }}" hx-target="#organization-activation-button" hx-swap="innerHTML"
hx-trigger="organizationDeactivatedEvent from:body"></div>
<!-- when organization is activated, remove  the organization button -->
<div hx-get="{{ object.remove_organization_activation_button_url }}" hx-target="#organization-activation-button" hx-swap="innerHTML"
hx-trigger="organizationActivatedEvent from:body"></div>


<!-- when patent is deactivated, insert the patent button -->
<div hx-get="{{ object.insert_patent_activation_button_url }}" hx-target="#patent-activation-button" hx-swap="innerHTML"
hx-trigger="patentDeactivatedEvent from:body"></div>
<!-- when patent is activated, remove  the patent button -->
<div hx-get="{{ object.remove_patent_activation_button_url }}" hx-target="#patent-activation-button" hx-swap="innerHTML"
hx-trigger="patentActivatedEvent from:body"></div>


<!-- when project is deactivated, insert the project button -->
<div hx-get="{{ object.insert_project_activation_button_url }}" hx-target="#project-activation-button" hx-swap="innerHTML"
hx-trigger="projectDeactivatedEvent from:body"></div>
<!-- when project is activated, remove  the project button -->
<div hx-get="{{ object.remove_project_activation_button_url }}" hx-target="#project-activation-button" hx-swap="innerHTML"
hx-trigger="projectActivatedEvent from:body"></div>


<!-- when publication is deactivated, insert the publication button -->
<div hx-get="{{ object.insert_publication_activation_button_url }}" hx-target="#publication-activation-button" hx-swap="innerHTML"
hx-trigger="publicationDeactivatedEvent from:body"></div>
<!-- when publication is activated, remove  the publication button -->
<div hx-get="{{ object.remove_publication_activation_button_url }}" hx-target="#publication-activation-button" hx-swap="innerHTML"
hx-trigger="publicationActivatedEvent from:body"></div>


<!-- when volunteering is deactivated, insert the volunteering button -->
<div hx-get="{{ object.insert_volunteering_activation_button_url }}" hx-target="#volunteering-activation-button" hx-swap="innerHTML"
hx-trigger="volunteeringDeactivatedEvent from:body"></div>
<!-- when volunteering is activated, remove  the volunteering button -->
<div hx-get="{{ object.remove_volunteering_activation_button_url }}" hx-target="#volunteering-activation-button" hx-swap="innerHTML"
hx-trigger="volunteeringActivatedEvent from:body"></div>


<div class="container my-5 ">
  <div class="row justify-content-md-center my-3">
    <div class="col-md-4 col-sm-12">
      <div class="card border-0">
        <div class="card-body">
          <div class="d-flex flex-column ">
            <div id="photo-box" class="align-items-center text-center">
              {% if object.photo %}
                {% include "profiles/partials/photo_cropped.html" %}
              {% endif %}
            </div>
            <div class="align-items-center text-center">
              <form>
                {% csrf_token %}
                <label class="btn btn-outline-secondary border-0 mx-2" for="file-input">
                <i class="bi bi-camera"></i>  {% trans "Select photo" %}</label>
                <input id="file-input" type="file" name="photo" onchange="pollImageToCrop()"  style="visibility: hidden;"
                hx-post="{{object.upload_full_photo_url}}" hx-encoding='multipart/form-data'
                hx-trigger="change" hx-swap="none">
              </form>
            </div>
            <div class="mt-0">
              {% include "profiles/partials/personal_information.html" %}
              {% include "profiles/partials/website/main.html" %}
              {% include "profiles/partials/skill/main.html" %}
              {% include "profiles/partials/language/main.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      {% include "profiles/partials/description.html" %}
      {% include "profiles/partials/education/main.html" %}

    </div>
  </div>
  <div class="row">
    <div class="col">
      {% include "profiles/partials/stuff_to_add.html" %}
    </div>
  </div>
</div>



<div class="d-flex flex-column align-items-center text-center"></div>
