{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %} | {% trans "My profile" %} {% endblock %}

{% block css %}
<!-- cropper  -->
<link rel="stylesheet" href="{% static 'css/cropper.css' %}">
{% endblock %}


{% block content %}
    {% if object %}
        <div class="container border border-secondary my-5 ">

              <div class="row justify-content-md-center mt-5">

                <div class="col-md-6 col-sm-12 text-center">
                  <div class="card">
                    <div class="card-body">
                      <h2>Photo</h2>
                      <div class="d-flex flex-column align-items-center text-center">
                        <button type="button" class="btn btn-outline-secondary border-0" data-bs-toggle="modal" data-bs-target="#photoEditModal"><i class="bi bi-pencil"></i></button>

                        <div id="photo-box">
                        {% if object.photo %}
                          <img src="{{ object.photo.url }}" alt="Admin" class="rounded-circle" width="500">
                        {% else %}
                          <form>
                            {% csrf_token %}
                            <input id="add-full-photo-input" type="file" name="photo" hx-encoding='multipart/form-data'
                            hx-post="{{object.upload_full_photo_url}}" hx-trigger="change" hx-swap="none">
                          </form>

                          <div hx-get="{{ object.get_photo_modal_url }}" hx-target="#modals-here"
                            hx-trigger="fullPhotoUploaded from:body"
                          	_="on htmx:afterOnLoad wait 10ms then add .show to #photo-modal then add .show to #photo-modal-backdrop">
                          </div>
                        {% endif %}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div id="modals-here"></div>

        </div>
      </div>



      {% else %}
        {% include "profiles/create_object.html" %}
      {% endif %}


{% endblock %}


{% block extra_body %}
  <!-- cropper js
  <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js" integrity="sha512-ooSWpxJsiXe6t4+PPjCgYmVfr1NS5QXJACcR/FPpsdm6kqG1FmQ2SVyg2RXeVuCRBLr0lWHnWJP6Zs1Efvxzww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <script src="{% static 'js/cropper.js' %}"></script>
  <script type="text/javascript">

  

  </script>
{% endblock %}
