{% extends "base.html" %}
{% load static i18n  profile_tags %}

{% block title %} | {% translate "My profile" %}
{% endblock %}

{% block css %}
  <!-- cropper  -->
  <link rel="stylesheet" href="{% static 'css/cropper.css' %}" />
{% endblock %}

{% block content %}

<div id="notifications"></div>


<div class="md:container md:mx-auto" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>


  <!-- fullname -->
  {% include "profiles/partials/child_form.html" with form=fullname_form %}

  <!-- jobtitle -->
  {% include "profiles/partials/child_form.html" with form=jobtitle_form %}

  <!-- location -->
  {% include "profiles/partials/child_form.html" with form=location_form %}

  <!-- phone -->
  {% include "profiles/partials/child_form.html" with form=phone_form %}

  <!-- email -->
  {% include "profiles/partials/child_form.html" with form=email_form %}



</div>




{% endblock %}

{% block extra_body %}
  <!-- cropper js -->
  <script src="{% static 'js/cropper.js' %}"></script>
{% endblock %}
