{% extends "base.html" %}
{% load static i18n %}
{% block title %}
  | {% translate "My profile" %}
{% endblock title %}
{% block css %}
  <!-- cropper  -->
  <link rel="stylesheet" href="{% static 'css/cropper.css' %}" />
{% endblock css %}
{% block content %}
  <div class="md:container md:mx-auto ">
    <!-- notifications -->
    <div id="notifications"></div>
    <!-- Settings -->
    {% include "profiles/partials/options.html" %}
    <div class="container m-auto grid md:grid-cols-12 gap-10">
      <div class="md:col-span-3 ">
        <h2 class="mt-4 text-lg italic  font-light ">{% trans "Personal info" %}</h2>
        <!-- photo-->
        {% include "profiles/photo/main.html" %}
        <!-- Personal info -->
        {% include "profiles/partials/personal_info.html" with form=personal_info_form %}
      </div>
      <div class="md:col-span-7">
        <!-- formset education -->
        {% if profile.education_active %}
          <h2 class="mt-4 text-lg italic  font-light">{{ profile.education_label }}</h2>
          {% include "profiles/partials/childset.html" with formset=education_formset update_url=profile.update_education_url order_url=profile.order_education_url %}
        {% endif %}
        <!-- formset skills -->
        {% if profile.skill_active %}
          <h2 class="mt-4 text-lg italic  font-light">{{ profile.skill_label }}</h2>
          {% include "profiles/partials/childset.html" with formset=skill_formset update_url=profile.update_skill_url order_url=profile.order_skill_url %}
        {% endif %}
        <!-- formset languages -->
        {% if profile.language_active %}
          <h2 class="mt-4 text-lg italic  font-light">{{ profile.language_label }}</h2>
          {% include "profiles/partials/childset.html" with formset=languageability_formset update_url=profile.update_language_url order_url=profile.order_language_url %}
        {% endif %}
        <!-- formset experience -->
        {% if profile.experience_active %}
          <h2 class="mt-4 text-lg italic  font-light">{{ profile.experience_label }}</h2>
          {% include "profiles/partials/childset.html" with formset=experience_formset update_url=profile.update_experience_url order_url=profile.order_experience_url %}
        {% endif %}
        <!-- formset achievement -->
        {% if profile.achievement_active %}
          <h2 class="mt-4 text-lg italic  font-light">{{ profile.achievement_label }}</h2>
          {% include "profiles/partials/childset.html" with formset=achievement_formset update_url=profile.update_achievement_url order_url=profile.order_achievement_url %}
        {% endif %}
        <!-- formset project -->
        {% if profile.project_active %}
          <h2 class="mt-4 text-lg italic  font-light">{{ profile.project_label }}</h2>
          {% include "profiles/partials/childset.html" with formset=project_formset update_url=profile.update_project_url order_url=profile.order_project_url %}
        {% endif %}
        <!-- formset publication -->
        {% if profile.publication_active %}
          <h2 class="mt-4 text-lg italic  font-light">{{ profile.publication_label }}</h2>
          {% include "profiles/partials/childset.html" with formset=publication_formset update_url=profile.update_publication_url order_url=profile.order_publication_url %}
        {% endif %}
      </div>
    </div>
    <div id="cvs" class="bg-white">
      <div class=" max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl ">
        <h2 class="text-xl font-bold text-gray-900">{% trans "CVs" %}</h2>
        <div class="mt-8 grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
          {% for cv in profile.fetch_cvs %}
            {% include "profiles/cvs/cv_card.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extra_body %}
  <!-- cropper js -->
  <script src="{% static 'js/cropper.js' %}"></script>
{% endblock extra_body %}
