{% extends "base.html" %}
{% load i18n %}

{% block title %} | {% trans "Resume templates to download" %} {% endblock %}


{% block content %}

<div class="container mt-5">
  <div class="row">
    {% for object in object_list %}
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <img class="card-img" src="{{ object.image.url }}" alt="Resume template image">
          <div class="card-footer bg-white">
            <a class="btn btn-outline-danger btn-lg w-100 border-0"
              href="{{ object.download_resume_pdf_url }}" target="_blank">
              {% trans "Download PDF" %} <i class="bi bi-cloud-download"></i>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
