{% load i18n %}
<div id="description-activation-button">
    {% if not object.description_active %}
        <button class="btn btn-outline-secondary border-0"
                style="text-align:left"
                hx-post="{{ object.activate_description_url }}"
                hx-target="#description-box"
                hx-swap="outerHTML"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="{% translate 'Activate description' %}">
            <i class="bi bi-card-text"></i> {% translate 'Description' %}
        </button>
    {% endif %}
</div>
