{% load i18n %}
<div id="description-box" class="mt-5">
  {% if object.description_active %}
   <h6  class="display-6 fs-6 mt-4 border-secondary border-2 border-bottom pb-3">

     <i class="bi bi-patch-check"></i> {% trans "Description" %}

     <button class="btn btn-outline-secondary border-0 float-end"
       hx-post="{{ object.deactivate_description_url }}" hx-target="#description-box" hx-swap="innerHTML"
       data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Deactivate description' %}">
       <i class="bi bi-eye-slash"></i>
     </button>

     <button class="btn btn-outline-secondary border-0 float-end"
       hx-post="{{ object.deactivate_description_url }}" hx-target="#modals-here"
       data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Get information about this field' %}">
       <i class="bi bi-info-circle"></i>
     </button>

   </h6>
  <textarea class="form-control w-90 border-0 bg-white" rows="10"
    hx-post="{{ object.update_description_url }}" hx-trigger="keyup changed delay:1s" hx-swap="none"
    placeholder="{% trans 'Describe yourself, what makes you a good professional? Describe your ambitions and passions' %}"
    name="description">{% if object.description %}{{ object.description }}{% endif %}</textarea>
  {% endif %}

</div>
