{% load i18n %}
<div id="patent-activation-button">
    {% if not object.patent_active %}
        <button class="btn btn-outline-secondary border-0"
                style="text-align:left"
                hx-post="{{ object.activate_patent_url }}"
                hx-target="#patent-box"
                hx-swap="outerHTML"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="{% translate 'Activate patent' %}">
            <i class="bi bi-file-medical"></i> {% translate 'Patents' %}
        </button>
    {% endif %}
</div>
