{% load i18n %}
<div id="patent-box" class="mt-5">
    {% if object.patent_active %}
        <!--
    <h6 class="display-6 fs-6 mt-4 border-secondary border-2 border-bottom pb-3">

      <i class="bi bi-file-medical"></i> {% translate "Patents" %}

      <button class="btn btn-outline-secondary border-0 float-end" hx-post="{{ object.deactivate_patent_url }}" hx-target="#patent-box" hx-swap="innerHTML" data-bs-toggle="tooltip" data-bs-placement="right" title="{% translate 'Deactivate patents' %}">
        <i class="bi bi-eye-slash"></i>
      </button>

      <button class="btn btn-outline-secondary border-0 float-end" hx-post="{{ object.insert_patent_help_modal_url }}" hx-target="#modals-here" data-bs-toggle="tooltip" data-bs-placement="right" title="{% translate 'Get information about this field' %}">
        <i class="bi bi-info-circle"></i>
      </button>

    </h6>
    -->
        <h6 class="display-6 fs-6 mt-4 border-secondary border-1 border-bottom">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-white border-0"><i class="bi bi-file-medical"></i
                    ></span>
                </div>
                <input class="form-control border-0 bg-white"
                       type="text"
                       name="patent_label"
                       value="{{ object.patent_label }}"
                       hx-post="{{ object.update_patent_slug_url }}"
                       hx-trigger="change"
                       hx-swap="none"/>
                <button class="btn btn-outline-secondary border-0 float-end"
                        hx-get="{{ object.insert_patent_help_modal_url }}"
                        hx-target="#modals-here"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="{% translate 'Get information about this field' %}">
                    <i class="bi bi-info-circle"></i>
                </button>
                <button class="btn btn-outline-secondary border-0 float-end"
                        hx-post="{{ object.deactivate_patent_url }}"
                        hx-target="#patent-box"
                        hx-swap="innerHTML"
                        data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="{% translate 'Deactivate patents' %}">
                    <i class="bi bi-eye-slash"></i>
                </button>
            </div>
        </h6>
        {% for patent in object.patent_set.all %}
            <form hx-post="{{ patent.update_object_url }}"
                  hx-trigger="change"
                  hx-swap="none">
                <div id="patent-{{ patent.pk }}" class="my-4 bg-light">
                    <!--buttons -->
                    <div class="row">
                        <div class="col-1">
                            <button
                                class="btn btn-outline-secondary border-0 w-100"
                                type="button"
                                name="button"
                                data-bs-toggle="tooltip"
                                data-bs-placement="right"
                                title="{% translate 'Move up' %}"
                                hx-post="{{ patent.move_up_object_url }}"
                                hx-target="#patent-box"
                                hx-swap="outerHTML"
                                {%
                                if
                                forloop.first
                                %}disabled{%
                                endif
                                %}
                                >
                                <i class="bi bi-arrow-up"></i>
                            </button>
                        </div>
                        <div class="col-1">
                            <button
                                class="btn btn-outline-secondary border-0 w-100"
                                type="button"
                                name="button"
                                data-bs-toggle="tooltip"
                                data-bs-placement="right"
                                title="{% translate 'Move down' %}"
                                hx-post="{{ patent.move_down_object_url }}"
                                hx-target="#patent-box"
                                hx-swap="outerHTML"
                                {%
                                if
                                forloop.last
                                %}disabled{%
                                endif
                                %}
                                >
                                <i class="bi bi-arrow-down"></i>
                            </button>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-secondary border-0 w-100"
                                    type="button"
                                    name="button"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="right"
                                    title="{% translate 'Copy' %}"
                                    hx-post="{{ patent.copy_object_url }}"
                                    hx-target="#patent-new"
                                    hx-swap="innerHTML">
                                <i class="bi bi-files"></i>
                            </button>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-secondary border-0 w-100"
                                    type="button"
                                    name="button"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="right"
                                    title="{% translate 'Remove' %}"
                                    hx-post="{{ patent.delete_object_url }}"
                                    hx-target="#patent-box"
                                    hx-swap="outerHTML">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                    <!--title and number -->
                    <div class="row">
                        <div class="col-8">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text border-0"><i class="bi bi-file-medical"></i
                                    ></span>
                                </div>
                                <input
                                    class="form-control border-0 bg-light"
                                    type="text"
                                    placeholder="{% translate 'Patent title, e.g: Development of a very cool device' %}"
                                    name="title"
                                    maxlength="{{ max_length_normal }}"
                                    {%
                                    if
                                    patent.title
                                    %}value="{{ patent.title }}"
                                    {%
                                    endif
                                    %}
                                    />
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text border-0"><i class="bi bi-123"></i
                                        ></span>
                                    </div>
                                    <input
                                        class="form-control border-0 bg-light"
                                        type="text"
                                        placeholder="{% translate 'Number, e.g. EPXXXXXX' %}"
                                        name="number"
                                        maxlength="{{ max_length_short }}"
                                        {%
                                        if
                                        patent.number
                                        %}value="{{ patent.number }}"
                                        {%
                                        endif
                                        %}
                                        />
                                    </div>
                                </div>
                            </div>
                            <!--inventors and issuing_date -->
                            <div class="row">
                                <div class="col-8">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text border-0"><i class="bi bi-people"></i
                                            ></span>
                                        </div>
                                        <input
                                            class="form-control border-0 bg-light"
                                            type="text"
                                            placeholder="{% translate 'Inventors, e.g. Person 1, Person 2, Person 3, ...' %}"
                                            name="inventors"
                                            maxlength="{{ max_length_super_short }}"
                                            {%
                                            if
                                            patent.inventors
                                            %}value="{{ patent.inventors }}"
                                            {%
                                            endif
                                            %}
                                            />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text border-0"><i class="bi bi-calendar-check"></i
                                                ></span>
                                            </div>
                                            <input
                                                class="form-control border-0 bg-light"
                                                type="text"
                                                placeholder="{% translate 'Issuing date, e.g. 2020' %}"
                                                name="issuing_date"
                                                maxlength="{{ max_length_super_short }}"
                                                {%
                                                if
                                                patent.issuing_date
                                                %}value="{{ patent.issuing_date }}"
                                                {%
                                                endif
                                                %}
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <!--issuer and link -->
                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text border-0"><i class="bi bi-building"></i
                                                    ></span>
                                                </div>
                                                <input
                                                    class="form-control border-0 bg-light"
                                                    type="text"
                                                    placeholder="{% translate 'Issuer, e.g: General Motors' %}"
                                                    name="issuer"
                                                    maxlength="{{ max_length_short }}"
                                                    {%
                                                    if
                                                    patent.issuer
                                                    %}value="{{ patent.issuer }}"
                                                    {%
                                                    endif
                                                    %}
                                                    />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text border-0"><i class="bi bi-link"></i
                                                        ></span>
                                                    </div>
                                                    <input
                                                        class="form-control border-0 bg-light"
                                                        type="text"
                                                        placeholder="{% translate 'Issuer link, e.g: www.gm.com (optional)' %}"
                                                        name="link"
                                                        maxlength="{{ max_length_normal }}"
                                                        {%
                                                        if
                                                        patent.link
                                                        %}value="{{ patent.link }}"
                                                        {%
                                                        endif
                                                        %}
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                            <!--description -->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text border-0"><i class="bi bi-justify-left"></i
                                                            ></span>
                                                        </div>
                                                        <textarea class="form-control border-0 bg-light" type="text" placeholder="{% translate 'Description' %}" name="description" maxlength="{{ max_length_super_large }}">
{% if patent.description %}{{ patent.description }}{% endif %}
</textarea
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                {% endfor %}
                                <div id="patent-new">{% include "profiles/partials/patent/new_button.html" %}</div>
                            {% endif %}
                        </div>
