{% load i18n %}
<div id="fullname-box">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text border-0"><i class="bi bi-person-circle"></i></span>
    </div>
    <input class="form-control border-0 bg-white"
           type="text"
           placeholder="{% translate 'First name' %}"
           name="firstname"
           maxlength="50"
           hx-post="{{ object.update_firstname_url }}"
           hx-trigger="change"
           hx-swap="none"
           {% if object.firstname %} value="{{ object.firstname }}"{% endif %}>
    <input class="form-control border-0 bg-white"
           type="text"
           placeholder="{% translate 'Last name' %}"
           name="lastname"
           maxlength="50"
           hx-post="{{ object.update_lastname_url }}"
           hx-trigger="change"
           hx-swap="none"
           {% if object.lastname %} value="{{ object.lastname }}"{% endif %}>
  </div>
</div>
