{% load i18n %}
<div id="instagram-activation-button">
  {% if not object.instagram_active %}
    <button class="btn btn-outline-secondary border-0"
            style="text-align:left"
            hx-post="{{ object.activate_instagram_url }}"
            hx-target="#instagram-box"
            hx-swap="outerHTML"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="{% translate 'Activate instagram' %}">
      <i class="bi bi-instagram"></i> {% translate 'Instagram' %}
    </button>
  {% endif %}
</div>
