{% load i18n %}
<div id="website-box" class="mt-5">
  {% if object.website_active %}
    <h6  class="display-6 fs-6 mt-4 border-secondary border-2 border-bottom pb-3">

      <i class="bi bi-patch-check"></i> {% trans "Websites and social media" %}

      <button class="btn btn-outline-secondary border-0 float-end"
        hx-post="{{ object.deactivate_website_url }}" hx-target="#website-box" hx-swap="innerHTML"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Deactivate website' %}">
        <i class="bi bi-eye-slash"></i>
      </button>

      <button class="btn btn-outline-secondary border-0 float-end"
        hx-post="{{ object.deactivate_website_url }}" hx-target="#modals-here"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Get information about this field' %}">
        <i class="bi bi-info-circle"></i>
      </button>

    </h6>

    {% for website in object.website_set.all %}
      <form hx-post="{{ website.update_object_url }}" hx-trigger="change" hx-swap="none">
        <div id="website-{{ website.pk }}" class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text border-0"><i class="bi bi-{{website.bootstrap_icon}}"></i></span>
          </div>
          <input class="form-control border-0 bg-white"  type="text" name="name" value="{{website.name}}">
          <button class="btn btn-outline-secondary  border-0"
           hx-post="{{ website.delete_object_url }}" hx-target="#website-box" hx-swap="outerHTML"
           data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans 'Remove this website' %}"><i class="bi bi-trash"></i></button>
        </div>
      </form>
    {% endfor %}

    <div id="website-new">
      {% include "profiles/partials/website/new_form.html" %}
    </div>
  {% endif %}
</div>
