{% extends "base.html" %}
{% load i18n l10n djmoney %}
{% block head_title %}
  {% translate "Pricing" %}
{% endblock %}
{% block content %}
  <div class="container">
    <div class=" py-24 sm:py-32 mt-2">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-4xl sm:text-center">
          <h1 class="text-base font-semibold leading-7 text-indigo-600">{% translate "Pricing" %}</h1>
          <p class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
            {% translate "Choose the right plan for you" %}
          </p>
        </div>
        <div class="mt-20 flow-root">
          <div class="isolate -mt-16 grid max-w-sm grid-cols-1 gap-y-16 divide-y divide-gray-100 sm:mx-auto lg:-mx-8 lg:mt-0 lg:max-w-none lg:grid-cols-3 lg:divide-y-0 lg:divide-x xl:-mx-4">
            {% for plan in plans %}
              <div class="pt-16 lg:px-8 lg:pt-0 xl:px-14">
                <h3 id="tier-basic"
                    class="text-base font-semibold leading-7 text-gray-900">{{ plan.name }}</h3>
                <p class="mt-6 flex items-baseline gap-x-1">
                  <span class="text-5xl font-bold tracking-tight text-gray-900">{% money_localize plan.price %}</span>
                </p>
                <a href="{{ plan.detail_url }}"
                   aria-describedby="tier-basic"
                   class="mt-10 block rounded-md bg-indigo-600 py-2 px-3 text-center text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                  {% translate "Buy plan" %}
                </a>
                <p class="mt-10 text-sm font-semibold leading-6 text-gray-900">{{ plan.description }}</p>
                <ul role="list" class="mt-6 space-y-3 text-sm leading-6 text-gray-600">
                  <li class="flex gap-x-3">
                    {% include "svgs/solid_indigo_tick.html" %}
                    {{ plan.months }} {% translate "Months" %}
                  </li>
                  <li class="flex gap-x-3">
                    {% include "svgs/solid_indigo_tick.html" %}
                    {{ plan.profiles }} {% translate "Profiles" %}
                  </li>
                  {% if plan.includes_support %}
                    <li class="flex gap-x-3">
                      {% include "svgs/solid_indigo_tick.html" %}
                      {% translate "Technical support" %}
                    </li>
                  {% endif %}
                  {% if plan.profile_translation %}
                    <li class="flex gap-x-3">
                      {% include "svgs/solid_indigo_tick.html" %}
                      {% translate "Translate your profile" %}
                    </li>
                  {% endif %}
                  {% if plan.profile_manual %}
                    <li class="flex gap-x-3">
                      {% include "svgs/solid_indigo_tick.html" %}
                      {% translate "We create a profile for you" %}
                    </li>
                  {% endif %}
                  {% if plan.premium_templates %}
                    <li class="flex gap-x-3">
                      {% include "svgs/solid_indigo_tick.html" %}
                      {% translate "Premium templates" %}
                    </li>
                  {% endif %}
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div x-data="{ active: 1 }"
         class="mx-auto max-w-3xl w-full min-h-[16rem] space-y-4">
      <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">
        {% translate "Frequently asked questions" %}
      </h2>
      {% for faq in faqs %}
        <div x-data="{ id: {{ forloop.counter }}, get expanded() { return this.active === this.id }, set expanded(value) { this.active = value ? this.id : null }, }"
             role="region"
             class="rounded-lg bg-white shadow">
          <h2>
            <button x-on:click="expanded = !expanded"
                    :aria-expanded="expanded"
                    class="flex w-full items-center justify-between px-6 py-4 text-xl font-bold">
              <span class="text-base font-semibold leading-7 text-gray-900">{{ faq.question }}</span>
              <span x-show="expanded" aria-hidden="true" class="ml-4">&minus;</span>
              <span x-show="!expanded" aria-hidden="true" class="ml-4">&plus;</span>
            </button>
          </h2>
          <div x-show="expanded" x-collapse>
            <div class="px-6 pb-4 text-base leading-7 text-gray-600">{{ faq.answer }}</div>
          </div>
        </div>
      {% endfor %}
      <p class="mt-10 max-w-2xl text-base leading-7 text-gray-600">
        {% translate "Do you have a different question? Contact us." %}
      </p>
      <dl class="mt-10 space-y-4 text-base leading-7 text-gray-600">
        <div class="flex gap-x-4">
          <dt class="flex-none">
            <span class="sr-only">Chat</span>
            <svg class="h-7 w-6 text-gray-400"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
            </svg>
          </dt>
          <dd>
            <a class="hover:text-gray-900" href="https://wa.me/+4915752936373">Whatsapp</a>
          </dd>
        </div>
        <div class="flex gap-x-4">
          <dt class="flex-none">
            <span class="sr-only">Email</span>
            <svg class="h-7 w-6 text-gray-400"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
            </svg>
          </dt>
          <dd>
            <a class="hover:text-gray-900" href="mailto:rami@nicecv.online">rami@nicecv.online</a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
{% endblock content %}
